
/*

    a:first-child -> dg-btn-%s { Button Styles } 1 / 2 / 3 / 4 / 5 / 6 / 7
    
    a:first-child -> dg-btn-%s { Button Color } 

    a:first-child -> size-%s { Button Styles } xs / sm / ""(不写这个class则是默认样式) / lg / xl

    a:first-child -> size-%s { Radius } radius-0px / radius-1px / radius-2px / radius-3px / radius-4px / radius-5px / radius-6px / radius-7px / radius-8px / radius-9px / radius-10px / radius-15px / radius-sc / radius-100

    if ( dg-btn-2 || dg-btn-3 || dg-btn-5 )
        a:first-child -> border-%s { Button Styles } 1px / 2px / 3px / 4px / 5px / 6px

    end

    a:first-child -> icon-%s { Icon Position } ""(不写这个class则是默认样式) / left / right
    if ( icon-left || icon-right )
        a:first-child -> icon-%s { Icon Animation } ""(不写这个class则是默认样式) / out / in / bounce
    end

*/




/*default style*/
[class*="dg-btn-"] {
	color: #555;
	border-color: #555;
	background-color: #555;
	margin: 3px;
	white-space: nowrap;
	font-weight: 500;
	border: none;
	background-image: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
[class*="dg-btn-"]:before{
	background-color:#555;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

[class*="dg-btn-"],
[class*="dg-btn-"]:link,
[class*="dg-btn-"]:before,
[class*="dg-btn-"]:link:before,
[class*="dg-btn-"][class*="shadow-"]{
	transition: 		border-color ease-in 300ms, background-color ease-in 300ms, color ease-in 300ms, box-shadow ease-in 300ms;
	-moz-transition: 	border-color ease-in 300ms, background-color ease-in 300ms, color ease-in 300ms, box-shadow ease-in 300ms; /* Firefox 4 */
-webkit-transition:     border-color ease-in 300ms, background-color ease-in 300ms, color ease-in 300ms, box-shadow ease-in 300ms; /* Safari and Chrome */
	-o-transition: 		border-color ease-in 300ms, background-color ease-in 300ms, color ease-in 300ms, box-shadow ease-in 300ms; /* Opera */
	-ms-transition: 	border-color ease-in 300ms, background-color ease-in 300ms, color ease-in 300ms, box-shadow ease-in 300ms; /* IE9? */
}
.dng-main [class*="dg-btn-"]:hover{
	color:#222533;
	border-color:#222533;
	background:#222533;
}
.dng-main [class*="dg-btn-"]:hover:before{
	background:#222533;
}

.tp-banner-container [class*="dg-btn-"]{
	transition: 		background ease-in 300ms,color ease-in 300ms,border ease-in 300ms;
	-moz-transition: 	background ease-in 300ms,color ease-in 300ms,border ease-in 300ms; /* Firefox 4 */
-webkit-transition:     background ease-in 300ms,color ease-in 300ms,border ease-in 300ms; /* Safari and Chrome */
	-o-transition: 		background ease-in 300ms,color ease-in 300ms,border ease-in 300ms; /* Opera */
	-ms-transition: 	background ease-in 300ms,color ease-in 300ms,border ease-in 300ms; /* IE9? */
}




/*btn color*/

[class*="dg-btn-"].btn-turquoise{
	color:#08dcf5;
	border-color:#08dcf5;
	background-color:#08dcf5;
}
[class*="dg-btn-"].btn-turquoise:before{
	background-color:#08dcf5;
}
[class*="dg-btn-"].btn-borland{
	color:#20a3f0;
	border-color:#20a3f0;
	background-color:#20a3f0;
}
[class*="dg-btn-"].btn-borland:before{
	background-color:#20a3f0;
}
[class*="dg-btn-"].btn-deco{
	color:#b8d786;
	border-color:#b8d786;
	background-color:#b8d786;
}
[class*="dg-btn-"].btn-deco:before{
	background-color:#b8d786;
}
[class*="dg-btn-"].btn-moonraker{
	color:#c1baf4;
	border-color:#c1baf4;
	background-color:#c1baf4;
}
[class*="dg-btn-"].btn-moonraker:before{
	background-color:#c1baf4;
}
[class*="dg-btn-"].btn-spray{
	color:#86ddf2;
	border-color:#86ddf2;
	background-color:#86ddf2;
}
[class*="dg-btn-"].btn-spray:before{
	background-color:#86ddf2;
}
[class*="dg-btn-"].btn-turquoiseblue{
	color:#65e5c5;
	border-color:#65e5c5;
	background-color:#65e5c5;
}
[class*="dg-btn-"].btn-turquoiseblue:before{
	background-color:#65e5c5;
}
[class*="dg-btn-"].btn-denim{
	color:#127dcf;
	border-color:#127dcf;
	background-color:#127dcf;
}
[class*="dg-btn-"].btn-denim:before{
	background-color:#127dcf;
}
[class*="dg-btn-"].btn-turquoise-g{
	color:#1de0c1;
	border-color:#1de0c1;
	background: -webkit-linear-gradient(135deg, #1de0c1, #44d2fb);
	background: -o-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: -moz-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: linear-gradient(135deg, #1de0c1, #44d2fb);
	background-color:#1de0c1;
}
[class*="dg-btn-"].btn-turquoise-g:before{
	background: -webkit-linear-gradient(135deg, #1de0c1, #44d2fb);
	background: -o-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: -moz-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: linear-gradient(135deg, #1de0c1, #44d2fb);
	background-color:#1de0c1;
}
[class*="dg-btn-"].btn-navyblue-g{
	color:#0547f1;
	border-color:#0547f1;
	background: -webkit-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0);
	background: -o-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: -moz-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0 );
	background-color:#0547f1;
}
[class*="dg-btn-"].btn-navyblue-g:before{
	background: -webkit-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0);
	background: -o-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: -moz-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0 );
	background-color:#0547f1;
}
[class*="dg-btn-"].btn-blue-g{
	color:#0850f7;
	border-color:#0850f7;
	background: -webkit-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
	background: -o-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
	background: -moz-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
	background: linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
	background-color:#0850f7;
}
[class*="dg-btn-"].btn-blue-g:before{
  background: -webkit-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
  background: -o-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
  background: -moz-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
  background: linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
  background-color:#0850f7;
}
[class*="dg-btn-"].btn-jewel-g{
	color:#0f7936;
	border-color:#0f7936;
	background: -webkit-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
	background: -o-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
	background: -moz-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
	background: linear-gradient(135deg,#0f7936 30%, #179a47, #38965b);
	background-color:#0f7936;
}
[class*="dg-btn-"].btn-jewel-g:before{
  background: -webkit-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
  background: -o-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
  background: -moz-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
  background: linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
  background-color:#0f7936;
}
[class*="dg-btn-"].btn-borland-g{
	color:#1e7ad8;
	border-color:#1e7ad8;
	background: -webkit-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
	background: -o-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
	background: -moz-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
	background: linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
	background-color:#1e7ad8;
}
[class*="dg-btn-"].btn-borland-g:before{
  background: -webkit-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
  background: -o-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
  background: -moz-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
  background: linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
  background-color:#1e7ad8;
}
[class*="dg-btn-"].btn-primary-g{
	color:#0676f4;
	border-color:#0676f4;
	background: -webkit-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
	background: -o-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
	background: -moz-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
	background: linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
	background-color:#0676f4;
}
[class*="dg-btn-"].btn-primary-g:before{
  background: -webkit-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
  background: -o-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
  background: -moz-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
  background: linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
  background-color:#0676f4;
}
[class*="dg-btn-"].btn-success-g{
	color:#1e7ad7;
	border-color:#1e7ad7;
	background: -webkit-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
	background: -o-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
	background: -moz-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
	background: linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
	background-color:#1e7ad7;
}
[class*="dg-btn-"].btn-success-g:before{
  background: -webkit-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
  background: -o-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
  background: -moz-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
  background: linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
  background-color:#1e7ad7;
}
[class*="dg-btn-"].btn-info-g{
	color:#00ccff;
	border-color:#00ccff;
	background: -webkit-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
	background: -o-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
	background: -moz-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
	background: linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
	background-color:#00ccff;
}
[class*="dg-btn-"].btn-info-g:before{
  background: -webkit-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
  background: -o-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
  background: -moz-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
  background: linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
  background-color:#00ccff;
}
[class*="dg-btn-"].btn-warning-g{
	color:#ff6c66;
	border-color:#ff6c66;
	background: -webkit-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
	background: -o-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
	background: -moz-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
	background: linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
	background-color:#ff6c66;
}
[class*="dg-btn-"].btn-warning-g:before{
  background: -webkit-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
  background: -o-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
  background: -moz-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
  background: linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
  background-color:#ff6c66;
}
[class*="dg-btn-"].btn-danger-g{
	color:#48a9e1;
	border-color:#48a9e1;
	background: -webkit-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
	background: -o-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
	background: -moz-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
	background: linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
	background-color:#48a9e1;
}
[class*="dg-btn-"].btn-danger-g:before{
  background: -webkit-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
  background: -o-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
  background: -moz-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
  background: linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
  background-color:#48a9e1;
}



[class*="dg-btn-"].btn-gray{
	color:#333333;
	border-color:#333333;
	background-color:#333333;
}
[class*="dg-btn-"].btn-gray:before{
	background-color:#333333;
}
[class*="dg-btn-"].btn-white{
	color:#ffffff;
	border-color:#ffffff;
	background-color:#ffffff;
}
.dg-btn-1.btn-white, 
.dg-btn-1.btn-white:link, 
.dg-btn-1.btn-white:active, 
.dg-btn-1.btn-white:visited,
.dg-btn-1.btn-white[type="button"],
.dg-btn-1.btn-white[type="submit"],
.dg-btn-3.btn-white, 
.dg-btn-3.btn-white:link, 
.dg-btn-3.btn-white:active, 
.dg-btn-3.btn-white:visited,
.dg-btn-3.btn-white[type="button"],
.dg-btn-3.btn-white[type="submit"],
.dg-btn-4.btn-white, 
.dg-btn-4.btn-white:link, 
.dg-btn-4.btn-white:active, 
.dg-btn-4.btn-white:visited,
.dg-btn-4.btn-white[type="button"],
.dg-btn-4.btn-white[type="submit"],
.dg-btn-2.btn-silver, 
.dg-btn-2.btn-silver:link, 
.dg-btn-2.btn-silver:active, 
.dg-btn-2.btn-silver:visited,
.dg-btn-2.btn-silver[type="button"],
.dg-btn-2.btn-silver[type="submit"]{
	color:#555555;
}
/* .dg-btn-2.btn-white, 
.dg-btn-2.btn-white:link, 
.dg-btn-2.btn-white:active, 
.dg-btn-2.btn-white:visited, 
.dg-btn-2.btn-white[type="button"]{
	background-color:transparent;
} */


[class*="dg-btn-"].btn-white:before{
	background-color:#ffffff;
}
[class*="dg-btn-"].btn-black{
	color:#191919;
	border-color:#191919;
	background-color:#191919;
}
[class*="dg-btn-"].btn-black:before{
	background-color:#191919;
}
[class*="dg-btn-"].btn-night{
	color:#323232;
	border-color:#323232;
	background-color:#323232;
}
[class*="dg-btn-"].btn-night:before{
	background-color:#323232;
}
[class*="dg-btn-"].btn-emerald{
	color:#40d075;
	border-color:#40d075;
	background-color:#40d075;
}
[class*="dg-btn-"].btn-emerald:before{
	background-color:#40d075;
}

[class*="dg-btn-"].btn-orange{
	color:#f39705;
	border-color:#f39705;
	background-color:#f39705;
}
[class*="dg-btn-"].btn-orange:before{
	background-color:#f39705;
}
[class*="dg-btn-"].btn-chambray{
	color:#505f79;
	border-color:#505f79;
	background-color:#505f79;
}
[class*="dg-btn-"].btn-chambray:before{
	background-color:#505f79;
}
[class*="dg-btn-"].btn-bittersweet{
	color:#ff6061;
	border-color:#ff6061;
	background-color:#ff6061;
}
[class*="dg-btn-"].btn-bittersweet:before{
	background-color:#ff6061;
}
[class*="dg-btn-"].btn-pelorous{
	color:#237da6;
	border-color:#237da6;
	background-color:#237da6;
}
[class*="dg-btn-"].btn-pelorous:before{
	background-color:#237da6;
}
[class*="dg-btn-"].btn-citrus{
	color:#a9d300;
	border-color:#a9d300;
	background-color:#a9d300;
}
[class*="dg-btn-"].btn-citrus:before{
	background-color:#a9d300;
}
[class*="dg-btn-"].btn-blackberry{
	color:#461135;
	border-color:#461135;
	background-color:#461135;
}
[class*="dg-btn-"].btn-blackberry:before{
	background-color:#461135;
}
[class*="dg-btn-"].btn-melon{
	color:#febbb4;
	border-color:#febbb4;
	background-color:#febbb4;
}
[class*="dg-btn-"].btn-melon:before{
	background-color:#febbb4;
}
[class*="dg-btn-"].btn-lipstick{
	color:#9a2c4a;
	border-color:#9a2c4a;
	background-color:#9a2c4a;
}
[class*="dg-btn-"].btn-lipstick:before{
	background-color:#9a2c4a;
}
[class*="dg-btn-"].btn-darkcyan{
	color:#007c8e;
	border-color:#007c8e;
	background-color:#007c8e;
}
[class*="dg-btn-"].btn-darkcyan:before{
	background-color:#007c8e;
}
[class*="dg-btn-"].btn-toryblue{
	color:#40548e;
	border-color:#40548e;
	background-color:#40548e;
}
[class*="dg-btn-"].btn-toryblue:before{
	background-color:#40548e;
}
[class*="dg-btn-"].btn-crimson{
	color:#ef1d38;
	border-color:#ef1d38;
	background-color:#ef1d38;
}
[class*="dg-btn-"].btn-crimson:before{
	background-color:#ef1d38;
}
[class*="dg-btn-"].btn-celery{
	color:#bbb83f;
	border-color:#bbb83f;
	background-color:#bbb83f;
}
[class*="dg-btn-"].btn-celery:before{
	background-color:#bbb83f;
}
[class*="dg-btn-"].btn-pink{
	color:#dc717c;
	border-color:#dc717c;
	background-color:#dc717c;
}
[class*="dg-btn-"].btn-pink:before{
	background-color:#dc717c;
}
[class*="dg-btn-"].btn-citrus2{
	color:#97c200;
	border-color:#97c200;
	background-color:#97c200;
}
[class*="dg-btn-"].btn-citrus2:before{
	background-color:#97c200;
}
[class*="dg-btn-"].btn-comet{
	color:#626073;
	border-color:#626073;
	background-color:#626073;
}
[class*="dg-btn-"].btn-comet:before{
	background-color:#626073;
}
[class*="dg-btn-"].btn-atomic{
	color:#3d4c53;
	border-color:#3d4c53;
	background-color:#3d4c53;
}
[class*="dg-btn-"].btn-atomic:before{
	background-color:#3d4c53;
}
[class*="dg-btn-"].btn-seagreen{
	color:#1cc0be;
	border-color:#1cc0be;
	background-color:#1cc0be;
}
[class*="dg-btn-"].btn-seagreen:before{
	background-color:#1cc0be;
}
[class*="dg-btn-"].btn-shadowgreen{
	color:#94c1ab;
	border-color:#94c1ab;
	background-color:#94c1ab;
}
[class*="dg-btn-"].btn-shadowgreen:before{
	background-color:#94c1ab;
}
[class*="dg-btn-"].btn-silver{
	color:#b8b8b8;
	border-color:#b8b8b8;
	background-color:#b8b8b8;
}
[class*="dg-btn-"].btn-silver:before{
	background-color:#b8b8b8;
}
[class*="dg-btn-"].btn-acapulco{
	color:#62a783;
	border-color:#62a783;
	background-color:#62a783;
}
[class*="dg-btn-"].btn-acapulco:before{
	background-color:#62a783;
}
[class*="dg-btn-"].btn-rock{
	color:#2e313d;
	border-color:#2e313d;
	background-color:#2e313d;
}
[class*="dg-btn-"].btn-rock:before{
	background-color:#2e313d;
}
[class*="dg-btn-"].btn-midnightblue{
	color:#122b58;
	border-color:#122b58;
	background-color:#122b58;
}
[class*="dg-btn-"].btn-midnightblue:before{
	background-color:#122b58;
}
[class*="dg-btn-"].btn-darkturquoise{
	color:#00d7e9;
	border-color:#00d7e9;
	background-color:#00d7e9;
}
[class*="dg-btn-"].btn-darkturquoise:before{
	background-color:#00d7e9;
}
[class*="dg-btn-"].btn-radicalred{
	color:#f82f54;
	border-color:#f82f54;
	background-color:#f82f54;
}
[class*="dg-btn-"].btn-radicalred:before{
	background-color:#f82f54;
}
[class*="dg-btn-"].btn-cadetblue{
	color:#5d9ca8;
	border-color:#5d9ca8;
	background-color:#5d9ca8;
}
[class*="dg-btn-"].btn-cadetblue:before{
	background-color:#5d9ca8;
}
[class*="dg-btn-"].btn-sunshade{
	color:#fa973c;
	border-color:#fa973c;
	background-color:#fa973c;
}
[class*="dg-btn-"].btn-sunshade:before{
	background-color:#fa973c;
}
[class*="dg-btn-"].btn-blackberry{
	color:#361630;
	border-color:#361630;
	background-color:#361630;
}
[class*="dg-btn-"].btn-blackberry:before{
	background-color:#361630;
}
[class*="dg-btn-"].btn-mantis{
	color:#8fc567;
	border-color:#8fc567;
	background-color:#8fc567;
}
[class*="dg-btn-"].btn-mantis:before{
	background-color:#8fc567;
}
[class*="dg-btn-"].btn-saffron{
	color:#f0ca3d;
	border-color:#f0ca3d;
	background-color:#f0ca3d;
}
[class*="dg-btn-"].btn-saffron:before{
	background-color:#f0ca3d;
}
[class*="dg-btn-"].btn-shamrock{
	color:#24d78a;
	border-color:#24d78a;
	background-color:#24d78a;
}
[class*="dg-btn-"].btn-shamrock:before{
	background-color:#24d78a;
}
[class*="dg-btn-"].btn-orange2{
	color:#f4633c;
	border-color:#f4633c;
	background-color:#f4633c;
}
[class*="dg-btn-"].btn-orange2:before{
	background-color:#f4633c;
}

[class*="dg-btn-"].btn-primary{
	color:#337ab7;
	border-color:#337ab7;
	background-color:#337ab7;
}
[class*="dg-btn-"].btn-primary:before{
	background-color:#337ab7;
}
[class*="dg-btn-"].btn-success{
	color:#5cb85c;
	border-color:#5cb85c;
	background-color:#5cb85c;
}
[class*="dg-btn-"].btn-success:before{
	background-color:#5cb85c;
}
[class*="dg-btn-"].btn-info{
	color:#5bc0de;
	border-color:#5bc0de;
	background-color:#5bc0de;
}
[class*="dg-btn-"].btn-info:before{
	background-color:#5bc0de;
}
[class*="dg-btn-"].btn-warning{
	color:#f0ad4e;
	border-color:#f0ad4e;
	background-color:#f0ad4e;
}
[class*="dg-btn-"].btn-warning:before{
	background-color:#f0ad4e;
}
[class*="dg-btn-"].btn-danger{
	color:#d9534f;
	border-color:#d9534f;
	background-color:#d9534f;
}
[class*="dg-btn-"].btn-danger:before{
	background-color:#d9534f;
}
[class*="dg-btn-"].btn-grayxslight{
	color:#414141;
	border-color:#414141;
	background-color:#414141;
}
[class*="dg-btn-"].btn-grayxslight:before{
	background-color:#414141;
}
[class*="dg-btn-"].btn-graysmlight{
	color:#666666;
	border-color:#666666;
	background-color:#666666;
}
[class*="dg-btn-"].btn-graysmlight:before{
	background-color:#666666;
}


/*btn color*/

/*btn Hover color*/
[class*="dg-btn-"].hover-turquoise:hover{
	color:#08dcf5;
	border-color:#08dcf5;
	background-color:#08dcf5;
}
[class*="dg-btn-"].hover-turquoise:hover:before{
	background-color:#08dcf5;
}
[class*="dg-btn-"].hover-borland:hover{
	color:#20a3f0;
	border-color:#20a3f0;
	background-color:#20a3f0;
}
[class*="dg-btn-"].hover-borland:hover:before{
	background-color:#20a3f0;
}
[class*="dg-btn-"].hover-deco:hover{
	color:#b8d786;
	border-color:#b8d786;
	background-color:#b8d786;
}
[class*="dg-btn-"].hover-deco:hover:before{
	background-color:#b8d786;
}
[class*="dg-btn-"].hover-moonraker:hover{
	color:#c1baf4;
	border-color:#c1baf4;
	background-color:#c1baf4;
}
[class*="dg-btn-"].hover-moonraker:hover:before{
	background-color:#c1baf4;
}
[class*="dg-btn-"].hover-spray:hover{
	color:#86ddf2;
	border-color:#86ddf2;
	background-color:#86ddf2;
}
[class*="dg-btn-"].hover-spray:hover:before{
	background-color:#86ddf2;
}
[class*="dg-btn-"].hover-turquoiseblue:hover{
	color:#65e5c5;
	border-color:#65e5c5;
	background-color:#65e5c5;
}
[class*="dg-btn-"].hover-turquoiseblue:hover:before{
	background-color:#65e5c5;
}
[class*="dg-btn-"].hover-denim:hover{
	color:#127dcf;
	border-color:#127dcf;
	background-color:#127dcf;
}
[class*="dg-btn-"].hover-denim:hover:before{
	background-color:#127dcf;
}
[class*="dg-btn-"].hover-denim:hover{
	color:#127dcf;
	border-color:#127dcf;
	background-color:#127dcf;
}
[class*="dg-btn-"].hover-denim:hover:before{
	background-color:#127dcf;
}
[class*="dg-btn-"].hover-turquoise-g:hover{
	color:#1de0c1;
	border-color:#1de0c1;
	background: -webkit-linear-gradient(135deg, #1de0c1, #44d2fb);
	background: -o-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: -moz-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: linear-gradient(135deg, #1de0c1, #44d2fb);
	background-color:#1de0c1;
}
[class*="dg-btn-"].hover-turquoise-g:hover:before{
	background: -webkit-linear-gradient(135deg, #1de0c1, #44d2fb);
	background: -o-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: -moz-linear-gradient(135deg, #1de0c1, #44d2fb); 
	background: linear-gradient(135deg, #1de0c1, #44d2fb);
	background-color:#1de0c1;
}
[class*="dg-btn-"].hover-navyblue-g:hover{
	color:#0547f1;
	border-color:#0547f1;
	background: -webkit-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0);
	background: -o-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: -moz-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0 );
	background-color:#0547f1;
}
[class*="dg-btn-"].hover-navyblue-g:hover:before{
	background: -webkit-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0);
	background: -o-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: -moz-linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0); 
	background: linear-gradient(135deg, #0547f1, #02b4d0, #02b6d0 );
	background-color:#0547f1;
}
[class*="dg-btn-"].hover-blue-g:hover{
	color:#0850f7;
	border-color:#0850f7;
	background: -webkit-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
	background: -o-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
	background: -moz-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
	background: linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
	background-color:#0850f7;
}
[class*="dg-btn-"].hover-blue-g:hover:before{
  background: -webkit-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
  background: -o-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
  background: -moz-linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%); 
  background: linear-gradient(135deg,#0850f7 20%,#1758fe 40%, #0899f5 90%);
  background-color:#0850f7;
}
[class*="dg-btn-"].hover-jewel-g:hover{
	color:#0f7936;
	border-color:#0f7936;
	background: -webkit-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
	background: -o-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
	background: -moz-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
	background: linear-gradient(135deg,#0f7936 30%, #179a47, #38965b);
	background-color:#0f7936;
}
[class*="dg-btn-"].hover-jewel-g:hover:before{
  background: -webkit-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
  background: -o-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
  background: -moz-linear-gradient(135deg, #0f7936 30%, #179a47, #38965b); 
  background: linear-gradient(135deg, #0f7936 30%, #179a47, #38965b);
  background-color:#0f7936;
}

[class*="dg-btn-"].hover-borland-g:hover{
	color:#1e7ad8;
	border-color:#1e7ad8;
	background: -webkit-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
	background: -o-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
	background: -moz-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
	background: linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
	background-color:#1e7ad8;
}
[class*="dg-btn-"].hover-borland-g:hover:before{
  background: -webkit-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
  background: -o-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
  background: -moz-linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%); 
  background: linear-gradient(45deg,#1e7ad8 20%, #1ed6d8 80%);
  background-color:#1e7ad8;
}
[class*="dg-btn-"].hover-primary-g:hover{
	color:#0676f4;
	border-color:#0676f4;
	background: -webkit-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
	background: -o-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
	background: -moz-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
	background: linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
	background-color:#0676f4;
}
[class*="dg-btn-"].hover-primary-g:hover:before{
  background: -webkit-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
  background: -o-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
  background: -moz-linear-gradient(45deg,#0676f4 20%, #00e9fe 80%); 
  background: linear-gradient(45deg,#0676f4 20%, #00e9fe 80%);
  background-color:#0676f4;
}
[class*="dg-btn-"].hover-success-g:hover{
	color:#1e7ad7;
	border-color:#1e7ad7;
	background: -webkit-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
	background: -o-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
	background: -moz-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
	background: linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
	background-color:#1e7ad7;
}
[class*="dg-btn-"].hover-success-g:hover:before{
  background: -webkit-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
  background: -o-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
  background: -moz-linear-gradient(90deg,#1e7ad7 20%, #16a168 90%); 
  background: linear-gradient(90deg,#1e7ad7 20%, #16a168 90%);
  background-color:#1e7ad7;
}
[class*="dg-btn-"].hover-info-g:hover{
	color:#00ccff;
	border-color:#00ccff;
	background: -webkit-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
	background: -o-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
	background: -moz-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
	background: linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
	background-color:#00ccff;
}
[class*="dg-btn-"].hover-info-g:hover:before{
  background: -webkit-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
  background: -o-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
  background: -moz-linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%); 
  background: linear-gradient(-45deg,#00ccff 20%, #35d3d4 90%);
  background-color:#00ccff;
}
[class*="dg-btn-"].hover-warning-g:hover{
	color:#ff6c66;
	border-color:#ff6c66;
	background: -webkit-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
	background: -o-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
	background: -moz-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
	background: linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
	background-color:#ff6c66;
}
[class*="dg-btn-"].hover-warning-g:hover:before{
  background: -webkit-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
  background: -o-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
  background: -moz-linear-gradient(90deg,#ff6c66 20%, #f1c442 90%); 
  background: linear-gradient(90deg,#ff6c66 20%, #f1c442 90%);
  background-color:#ff6c66;
}
[class*="dg-btn-"].hover-danger-g:hover{
	color:#48a9e1;
	border-color:#48a9e1;
	background: -webkit-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
	background: -o-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
	background: -moz-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
	background: linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
	background-color:#48a9e1;
}
[class*="dg-btn-"].hover-danger-g:hover:before{
  background: -webkit-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
  background: -o-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
  background: -moz-linear-gradient(135deg,#48a9e1 20%, #c361dc 90%); 
  background: linear-gradient(135deg,#48a9e1 20%, #c361dc 90%);
  background-color:#48a9e1;
}



[class*="dg-btn-"].hover-gray:hover{
	color:#333333;
	border-color:#333333;
	background-color:#333333;
}
[class*="dg-btn-"].hover-gray:hover:before{
	background-color:#333333;
}
[class*="dg-btn-"].hover-white:hover{
	color:#ffffff;
	border-color:#ffffff;
	background-color:#ffffff;
}
[class*="dg-btn-"].hover-white:hover:before{
	background-color:#ffffff;
}
.dng-main .dg-btn-1.hover-white:hover, 
.dng-main .dg-btn-2.hover-white:hover, 
.dng-main .dg-btn-3.hover-white:hover, 
.dng-main .dg-btn-4.hover-white:hover, 
.dng-main .dg-btn-5.hover-white:hover{
	color:#333333!important;
}

[class*="dg-btn-"].hover-black:hover{
	color:#191919;
	border-color:#191919;
	background-color:#191919;
}
[class*="dg-btn-"].hover-black:hover:before{
	background-color:#191919;
}
[class*="dg-btn-"].hover-night:hover{
	color:#323232;
	border-color:#323232;
	background-color:#323232;
}
[class*="dg-btn-"].hover-night:hover:before{
	background-color:#323232;
}
[class*="dg-btn-"].hover-emerald:hover{
	color:#40d075;
	border-color:#40d075;
	background-color:#40d075;
}
[class*="dg-btn-"].hover-emerald:hover:before{
	background-color:#40d075;
}

[class*="dg-btn-"].hover-orange:hover{
	color:#f39705;
	border-color:#f39705;
	background-color:#f39705;
}
[class*="dg-btn-"].hover-orange:hover:before{
	background-color:#f39705;
}
[class*="dg-btn-"].hover-chambray:hover{
	color:#505f79;
	border-color:#505f79;
	background-color:#505f79;
}
[class*="dg-btn-"].hover-chambray:hover:before{
	background-color:#505f79;
}
[class*="dg-btn-"].hover-bittersweet:hover{
	color:#ff6061;
	border-color:#ff6061;
	background-color:#ff6061;
}
[class*="dg-btn-"].hover-bittersweet:hover:before{
	background-color:#ff6061;
}
[class*="dg-btn-"].hover-pelorous:hover{
	color:#237da6;
	border-color:#237da6;
	background-color:#237da6;
}
[class*="dg-btn-"].hover-pelorous:hover:before{
	background-color:#237da6;
}
[class*="dg-btn-"].hover-citrus:hover{
	color:#a9d300;
	border-color:#a9d300;
	background-color:#a9d300;
}
[class*="dg-btn-"].hover-citrus:hover:before{
	background-color:#a9d300;
}
[class*="dg-btn-"].hover-blackberry:hover{
	color:#461135;
	border-color:#461135;
	background-color:#461135;
}
[class*="dg-btn-"].hover-blackberry:hover:before{
	background-color:#461135;
}
[class*="dg-btn-"].hover-melon:hover{
	color:#febbb4;
	border-color:#febbb4;
	background-color:#febbb4;
}
[class*="dg-btn-"].hover-melon:hover:before{
	background-color:#febbb4;
}
[class*="dg-btn-"].hover-lipstick:hover{
	color:#9a2c4a;
	border-color:#9a2c4a;
	background-color:#9a2c4a;
}
[class*="dg-btn-"].hover-lipstick:hover:before{
	background-color:#9a2c4a;
}
[class*="dg-btn-"].hover-darkcyan:hover{
	color:#007c8e;
	border-color:#007c8e;
	background-color:#007c8e;
}
[class*="dg-btn-"].hover-darkcyan:hover:before{
	background-color:#007c8e;
}
[class*="dg-btn-"].hover-toryblue:hover{
	color:#40548e;
	border-color:#40548e;
	background-color:#40548e;
}
[class*="dg-btn-"].hover-toryblue:hover:before{
	background-color:#40548e;
}
[class*="dg-btn-"].hover-crimson:hover{
	color:#ef1d38;
	border-color:#ef1d38;
	background-color:#ef1d38;
}
[class*="dg-btn-"].hover-crimson:hover:before{
	background-color:#ef1d38;
}
[class*="dg-btn-"].hover-celery:hover{
	color:#bbb83f;
	border-color:#bbb83f;
	background-color:#bbb83f;
}
[class*="dg-btn-"].hover-celery:hover:before{
	background-color:#bbb83f;
}
[class*="dg-btn-"].hover-pink:hover{
	color:#dc717c;
	border-color:#dc717c;
	background-color:#dc717c;
}
[class*="dg-btn-"].hover-pink:hover:before{
	background-color:#dc717c;
}
[class*="dg-btn-"].hover-citrus2:hover{
	color:#97c200;
	border-color:#97c200;
	background-color:#97c200;
}
[class*="dg-btn-"].hover-citrus2:hover:before{
	background-color:#97c200;
}
[class*="dg-btn-"].hover-comet:hover{
	color:#626073;
	border-color:#626073;
	background-color:#626073;
}
[class*="dg-btn-"].hover-comet:hover:before{
	background-color:#626073;
}
[class*="dg-btn-"].hover-atomic:hover{
	color:#3d4c53;
	border-color:#3d4c53;
	background-color:#3d4c53;
}
[class*="dg-btn-"].hover-atomic:hover:before{
	background-color:#3d4c53;
}
[class*="dg-btn-"].hover-seagreen:hover{
	color:#1cc0be;
	border-color:#1cc0be;
	background-color:#1cc0be;
}
[class*="dg-btn-"].hover-seagreen:hover:before{
	background-color:#1cc0be;
}
[class*="dg-btn-"].hover-shadowgreen:hover{
	color:#94c1ab;
	border-color:#94c1ab;
	background-color:#94c1ab;
}
[class*="dg-btn-"].hover-shadowgreen:hover:before{
	background-color:#94c1ab;
}
[class*="dg-btn-"].hover-silver:hover{
	color:#b8b8b8;
	border-color:#b8b8b8;
	background-color:#b8b8b8;
}
[class*="dg-btn-"].hover-silver:hover:before{
	background-color:#b8b8b8;
}
[class*="dg-btn-"].hover-acapulco:hover{
	color:#62a783;
	border-color:#62a783;
	background-color:#62a783;
}
[class*="dg-btn-"].hover-acapulco:hover:before{
	background-color:#62a783;
}
[class*="dg-btn-"].hover-rock:hover{
	color:#2e313d;
	border-color:#2e313d;
	background-color:#2e313d;
}
[class*="dg-btn-"].hover-rock:hover:before{
	background-color:#2e313d;
}
[class*="dg-btn-"].hover-midnightblue:hover{
	color:#122b58;
	border-color:#122b58;
	background-color:#122b58;
}
[class*="dg-btn-"].hover-midnightblue:hover:before{
	background-color:#122b58;
}
[class*="dg-btn-"].hover-darkturquoise:hover{
	color:#00d7e9;
	border-color:#00d7e9;
	background-color:#00d7e9;
}
[class*="dg-btn-"].hover-darkturquoise:hover:before{
	background-color:#00d7e9;
}
[class*="dg-btn-"].hover-radicalred:hover{
	color:#f82f54;
	border-color:#f82f54;
	background-color:#f82f54;
}
[class*="dg-btn-"].hover-radicalred:hover:before{
	background-color:#f82f54;
}
[class*="dg-btn-"].hover-cadetblue:hover{
	color:#5d9ca8;
	border-color:#5d9ca8;
	background-color:#5d9ca8;
}
[class*="dg-btn-"].hover-cadetblue:hover:before{
	background-color:#5d9ca8;
}
[class*="dg-btn-"].hover-sunshade:hover{
	color:#fa973c;
	border-color:#fa973c;
	background-color:#fa973c;
}
[class*="dg-btn-"].hover-sunshade:hover:before{
	background-color:#fa973c;
}
[class*="dg-btn-"].hover-blackberry:hover{
	color:#361630;
	border-color:#361630;
	background-color:#361630;
}
[class*="dg-btn-"].hover-blackberry:hover:before{
	background-color:#361630;
}
[class*="dg-btn-"].hover-mantis:hover{
	color:#8fc567;
	border-color:#8fc567;
	background-color:#8fc567;
}
[class*="dg-btn-"].hover-mantis:hover:before{
	background-color:#8fc567;
}
[class*="dg-btn-"].hover-saffron:hover{
	color:#f0ca3d;
	border-color:#f0ca3d;
	background-color:#f0ca3d;
}
[class*="dg-btn-"].hover-saffron:hover:before{
	background-color:#f0ca3d;
}
[class*="dg-btn-"].hover-shamrock:hover{
	color:#24d78a;
	border-color:#24d78a;
	background-color:#24d78a;
}
[class*="dg-btn-"].hover-shamrock:hover:before{
	background-color:#24d78a;
}
[class*="dg-btn-"].hover-orange2:hover{
	color:#f4633c;
	border-color:#f4633c;
	background-color:#f4633c;
}
[class*="dg-btn-"].hover-orange2:hover:before{
	background-color:#f4633c;
}

[class*="dg-btn-"].hover-primary:hover{
	color:#337ab7;
	border-color:#337ab7;
	background-color:#337ab7;
}
[class*="dg-btn-"].hover-primary:hover:before{
	background-color:#337ab7;
}
[class*="dg-btn-"].hover-success:hover{
	color:#5cb85c;
	border-color:#5cb85c;
	background-color:#5cb85c;
}
[class*="dg-btn-"].hover-success:hover:before{
	background-color:#5cb85c;
}
[class*="dg-btn-"].hover-info:hover{
	color:#5bc0de;
	border-color:#5bc0de;
	background-color:#5bc0de;
}
[class*="dg-btn-"].hover-info:hover:before{
	background-color:#5bc0de;
}
[class*="dg-btn-"].hover-warning:hover{
	color:#f0ad4e;
	border-color:#f0ad4e;
	background-color:#f0ad4e;
}
[class*="dg-btn-"].hover-warning:hover:before{
	background-color:#f0ad4e;
}
[class*="dg-btn-"].hover-danger:hover{
	color:#d9534f;
	border-color:#d9534f;
	background-color:#d9534f;
}
[class*="dg-btn-"].hover-danger:hover:before{
	background-color:#d9534f;
}
[class*="dg-btn-"].hover-grayxslight:hover{
	color:#414141;
	border-color:#414141;
	background-color:#414141;
}
[class*="dg-btn-"].hover-grayxslight:hover:before{
	background-color:#414141;
}
[class*="dg-btn-"].hover-graysmlight:hover{
	color:#666666;
	border-color:#666666;
	background-color:#666666;
}
[class*="dg-btn-"].hover-graysmlight:hover:before{
	background-color:#666666;
}



/*btn hover color end*/


.dg-btn-1,
.dg-btn-1:link,
.dg-btn-1:active,
.dg-btn-1:visited,
.dg-btn-1[type="button"],
.dg-btn-1[type="submit"]{
	color:#FFF;
	display:inline-block;
	border:1px solid transparent;
	background-size:105%!important;
	background-position:center!important;
}
.dng-main .dg-btn-1:hover{
	color:#FFF;
	text-decoration:none;
	background-position:right bottom;
}

.dg-btn-2,
.dg-btn-2:link,
.dg-btn-2:active,
.dg-btn-2:visited,
.dg-btn-2[type="button"],
.dg-btn-2[type="submit"]{
	border:1px solid ;
	background:transparent;
	display:inline-block;
}
.dg-btn-2.btn-silver,
.dg-btn-2.btn-silver:link,
.dg-btn-2.btn-silver:active,
.dg-btn-2.btn-silver:visited,
.dg-btn-2.btn-silver[type="button"],
.dg-btn-2.btn-silver[type="submit"]{
	border:1px solid silver;
}
.dng-main .dg-btn-2:hover{
	color:#FFFFFF!important;
	text-decoration:none;
}
.dg-btn-3,
.dg-btn-3:link,
.dg-btn-3:active,
.dg-btn-3:visited,
.dg-btn-3[type="button"],
.dg-btn-3[type="submit"]{
	color:#FFF;
	border:1px solid transparent;
	border-bottom:2px solid rgba(0,0,0,0.2)!important;
	display:inline-block;
	/* padding-bottom:9px!important; */
	background-size:105%!important;
	background-position:center!important;
}
.dg-btn-3.size-xs{
	padding-bottom:3px!important;
	border-bottom-width:2px!important;
}
.dg-btn-3.size-sm{
	padding-bottom:6px!important;
	border-bottom-width:2px!important;
}
.dg-btn-3.size-lg{
	padding-bottom:11px!important;
	border-bottom-width:3px!important;
}
.dg-btn-3.size-xl{
	padding-bottom:11px!important;
	border-bottom-width:4px!important;
}


.dng-main .dg-btn-3:hover{
	color:#FFF;
	text-decoration:none;
}
.dg-btn-4{
	border-color:#222533;
}
.dg-btn-4,
.dg-btn-4:link,
.dg-btn-4:active,
.dg-btn-4:visited,
.dg-btn-4[type="button"],
.dg-btn-4[type="submit"]{
	border-width:1px;
	border-style:solid;
	position:relative;
	background:transparent;
	z-index:1;
	color:#FFF;
	display:inline-block;
}
.dg-btn-4:before{
	content:"";
	position:absolute;
	z-index:-1;
	top:1px;
	left:1px;
	right:1px;
	bottom:1px;
	background:#222533;	
	border-radius:inherit;
	-moz-border-radius:inherit;
	-webkit-border-radius:inherit;
}
.dng-main .dg-btn-4:hover{
	color:#FFF;
	background:none!important;	
	text-decoration:none;
}
.dng-main .dg-btn-4:hover:before{
}

.dg-btn-5,
.dg-btn-5:link,
.dg-btn-5:active,
.dg-btn-5:visited,
.dg-btn-5[type="button"],
.dg-btn-5[type="submit"]{
	border-width:1px;
	border-style:solid ;
	border-bottom-width:2px!important;
	background:transparent;
	display:inline-block;
	/* padding-bottom:9px!important; */
}
.dng-main .dg-btn-5:hover{
	color:#FFFFFF!important;
	text-decoration:none;
	border-bottom-color:rgba(0,0,0,0.2)!important;
}
.dg-btn-5.size-xs{
	padding-bottom:3px!important;
	border-bottom-width:2px!important;
}
.dg-btn-5.size-sm{
	padding-bottom:6px!important;
	border-bottom-width:2px!important;
}
.dg-btn-5.size-lg{
	padding-bottom:11px!important;
	border-bottom-width:3px!important;
}
.dg-btn-5.size-xl{
	padding-bottom:11px!important;
	border-bottom-width:4px!important;
}
body .dg-btn-6{
	padding: 0;
	font-size: 14px;
	display: inline-block;
	background-color: transparent!important;
	border-color: transparent!important;
}
	
.dg-btn-6:hover {
	text-decoration: none;
}
.dg-btn-6.size-xs {
	font-size: 11px!important;
}
	
	
.dg-btn-6.size-sm {
	font-size: 13px!important;
}
	
.dg-btn-6.size-lg {
	font-size: 16px!important;
}
	
.dg-btn-6.size-xl {
	font-size: 18px!important;
}
.dg-btn-6 i{

}
	
body .dg-btn-7{
	padding: 0;
	padding-left: 0!important;
	padding-right: 0!important;
	font-size: 14px;
	display: inline-block;
	background-color: transparent!important;
	border-color: transparent!important;
}
.dg-btn-7 i{
	width: 2.18em!important;
	height: 2.18em;
	text-align:center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display:inline-block;
	background-color: #20a3f0;
	color: #FFF;
	vertical-align: middle;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
	display:inline-table;
}
.dg-btn-7 i:before{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}
.dg-btn-7 i.fa-caret-right:before{
	margin-left: 1px;
}
.dg-btn-7 i:after{
	content: "";
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: inherit;
	opacity: 0.2;
	z-index: -1;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-animation:dng-hotspot-effect 2s infinite;
	animation:dng-hotspot-effect 2s infinite;
}
.dg-btn-7:hover {
	text-decoration: none;
}
.dg-btn-7.size-xs {
	font-size: 11px!important;;
}
.dg-btn-7.size-sm {
	font-size: 13px!important;;
}
.dg-btn-7.size-lg {
	font-size: 16px!important;;
}
.dg-btn-7.size-xl {
	font-size: 18px!important;;
}

.dg-btn-7.icon-left i{
	margin-right: 1.1em;
}
.dg-btn-7.icon-right i{
	margin-left: 1.1em;
}

/* btn8 */
body .dg-btn-8 {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none !important;
    background-color: transparent !important;
    color: #fff !important;
    text-decoration: none !important;
    border: none !important;
    padding: 0 !important;
    min-width: auto !important;
    line-height: 46px;
    overflow: visible;
    box-shadow: 5px 5px 0 -1px #b89b5e;
    transition: box-shadow 0.3s linear 0s !important;
}

body .dg-btn-8:focus {
    outline: 0;
    box-shadow: none;
}

.dg-btn-8 span {
    display: inline-block;
    line-height: 48px !important;
    position: relative;
    color: #ffffff !important;
    border: 1px solid #59410e;
    padding: 0 29px !important;
    transition: border-color 0.3s linear 0s !important;
		z-index: 1;
		letter-spacing: 0 !important;
		max-width:100%;
}

.dg-btn-8::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #b89b5e;
    transform: translate(5px, 5px);
    transition: transform 0.3s linear 0s !important;
}

.dg-btn-8:hover {
    box-shadow: 0 0 0 0 #b89b5e;
}

.dg-btn-8:hover span {
    border-color: transparent !important;
}

.dg-btn-8:hover::before {
    transform: translate(0, 0);
}

.dg-btn-8.btn-primary::before {
    background-color: #337ab7 !important;
}

.dg-btn-8.btn-success::before {
    background-color: #5cb85c !important;
}

.dg-btn-8.btn-info::before {
    background-color: #5bc0de !important;
}

.dg-btn-8.btn-warning::before {
    background-color: #f0ad4e !important;
}

.dg-btn-8.btn-danger::before {
    background-color: #d9534f !important;
}





.dg-btn-default{
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	color:#666666;
}
.dg-btn-default:hover{
	color:#FFFFFF!important;
}

[class*="dg-btn-"].size-xs {
	/* padding: 6px 10px 4px; */
	padding: 0 10px;
	font-size: 11px;
	line-height: 1.5;
	letter-spacing: 0;
	/* height: auto; */
	height: 28px;
}

[class*="dg-btn-"].size-sm {
	/* padding: 7px 16px; */
	padding: 0 16px;
	font-size: 13px;
	line-height: 1.5;
	/* height: auto; */
	height: 35px;
}

[class*="dg-btn-"] {
	padding: 0 20px;
	font-size: 13px;
	line-height: 1.4;
	height: 40px;
}

[class*="dg-btn-"].size-lg {
	/* padding: 13px 26px; */
	padding: 0 26px;
	font-size: 14px;
	line-height: 1.3;
	/* height: auto; */
	height: 46px;
}

[class*="dg-btn-"].size-xl {
	/* padding: 15px 30px 14px; */
	padding: 0 30px;
	font-size: 15px;
	line-height: 1.3;
	/* height: auto; */
	height: 50px;
}
.mr{
	margin-right:5px;
}
.ml{
	margin-left:5px;
}
[class*="dg-btn-"].size-xs .mr{
	margin-right:2px;
}
[class*="dg-btn-"].size-sm .mr{
	margin-right:3px;
}
[class*="dg-btn-"] .mr{
	margin-right:5px;
}
[class*="dg-btn-"].size-lg .mr{
	margin-right:6px;
}
[class*="dg-btn-"].size-xl .mr{
	margin-right:7px;
}
[class*="dg-btn-"].size-xs .ml{
	margin-left:2px;
}
[class*="dg-btn-"].size-sm .ml{
	margin-left:3px;
}
[class*="dg-btn-"] .ml{
	margin-left:5px;
}
[class*="dg-btn-"].size-lg .ml{
	margin-left:6px;
}
[class*="dg-btn-"].size-xl .ml{
	margin-left:7px;
}


[class*="dg-btn-"].ico-line{
	position:relative;
}
[class*="dg-btn-"].ico-line .fa{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	padding:10px 16px;
	font-size:inherit;
	border-right:1px solid rgba(255,255,255,0.2);
	height:100%;
}
[class*="dg-btn-"].ico-line .fa:after{
	content:"";
	border-right:1px solid rgba(0,0,0,0.2);
	position:absolute;
	right:0;
	top:0;
	bottom:0;
}
[class*="dg-btn-"].ico-line .fa:before{
	display:inline-block;
	vertical-align:middle;
}
[class*="dg-btn-"].size-xs.ico-line{
	padding-left:27px;
	padding-right:5px;
}
[class*="dg-btn-"].size-xs.ico-line .fa{
	padding:0px 5px;
	line-height:20px;
}
[class*="dg-btn-"].size-sm.ico-line{
	padding-left:43px;
	padding-right:10px;
}
[class*="dg-btn-"].size-sm.ico-line .fa{
	padding:0px 10px;
	line-height:28px;
}
[class*="dg-btn-"].ico-line{
	padding-left:47px;
	padding-right:12px;
}
[class*="dg-btn-"].ico-line .fa{
	padding:0px 12px;
	line-height:36px;
}
[class*="dg-btn-"].size-lg.ico-line{
	padding-left:68px;
	padding-right:16px;
}
[class*="dg-btn-"].size-lg.ico-line .fa{
	padding:0px 16px;
	line-height:44px;
}
[class*="dg-btn-"].size-xl.ico-line{
	padding-left:88px;
	padding-right:22px;
}
[class*="dg-btn-"].size-xl.ico-line .fa{
	padding:0px 22px;
	line-height:52px;
}
[class*="dg-btn-"].ico-box{
	position:relative;
	overflow:hidden;
}
[class*="dg-btn-"].ico-box .fa{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	padding:10px 16px;
	font-size:inherit;
	height:100%;
	background-color:rgba(0,0,0,0.2)
}
[class*="dg-btn-"].ico-box .fa:before{
	display:inline-block;
	vertical-align:middle;
}

[class*="dg-btn-"].size-xs.ico-box{
	padding-left:27px;
	padding-right:5px;
}
[class*="dg-btn-"].size-xs.ico-box .fa{
	padding:0px 5px;
	line-height:20px;
}
[class*="dg-btn-"].size-sm.ico-box{
	padding-left:43px;
	padding-right:10px;
}
[class*="dg-btn-"].size-sm.ico-box .fa{
	padding:0px 10px;
	line-height:28px;
}
[class*="dg-btn-"].ico-box{
	padding-left:47px;
	padding-right:12px;
}
[class*="dg-btn-"].ico-box .fa{
	padding:0px 12px;
	line-height:36px;
}
[class*="dg-btn-"].size-lg.ico-box{
	padding-left:68px;
	padding-right:16px;
}
[class*="dg-btn-"].size-lg.ico-box .fa{
	padding:0px 16px;
	line-height:44px;
}
[class*="dg-btn-"].size-xl.ico-box{
	padding-left:88px;
	padding-right:22px;
}
[class*="dg-btn-"].size-xl.ico-box .fa{
	padding:0px 22px;
	line-height:52px;
}


[class*="dg-btn-"].border-1px{
	border-width:1px;
}
[class*="dg-btn-"].border-2px{
	border-width:2px;
}
[class*="dg-btn-"].border-3px{
	border-width:3px;
}
[class*="dg-btn-"].border-3px:before,
[class*="dg-btn-"].border-4px:before{
	top:2px;
	left:2px;
	right:2px;
	bottom:2px;
}
[class*="dg-btn-"].border-4px{
	border-width:4px;
}
[class*="dg-btn-"].border-5px{
	border-width:5px;
}
[class*="dg-btn-"].border-5px:before,
[class*="dg-btn-"].border-6px:before{
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
}
[class*="dg-btn-"].border-6px{
	border-width:6px;
}

[class*="dg-btn-"]:after{
	content:'';
	width:0;
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
[class*="dg-btn-"] *{
	vertical-align:middle;
	display:inline-block;
}


/* */
.button-list{
	margin:0 4%;
	padding:0;
	list-style:none;
}
.button-list li{
	width:128px;
	display:inline-block;
	text-align:center;
	margin-bottom:30px;
}
.button-list li span{
	display:block;
}


/*Icon Animation*/

.icon-right > i{
	width: 1.1em;
	font-size: 1em;
	margin-left: 0.7em;
	text-align: center;
}

.icon-left > i{
	width: 1.1em;
	font-size: 1em;
	margin-right: 0.6em;
	text-align: center;
}

.icon-right .fa,
.icon-right .lnr,
.icon-right .glyphicon{
	width:1.1em;
	font-size:1em;
	margin-left:0.7em;
	text-align:center;
}
.icon-left .fa,
.icon-left .lnr,
.icon-left .glyphicon{
	width:1.1em;
	font-size:1em;
	margin-right:0.6em;
	text-align:center;
}

.icon-out .fa,
.icon-out .lnr,
.icon-out .glyphicon,
.icon-out > span,
.icon-in .fa,
.icon-in .lnr,
.icon-in .glyphicon,
.icon-in > span{
	transition: 		transform ease-in 200ms,opacity ease-in 200ms,visibility ease-in 200ms;
	-moz-transition: 	-moz-transform ease-in 200ms,opacity ease-in 200ms,visibility ease-in 200ms; /* Firefox 4 */
	-webkit-transition: -webkit-transform ease-in 200ms,opacity ease-in 200ms,visibility ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		-o-transform ease-in 200ms,opacity ease-in 200ms,visibility ease-in 200ms; /* Opera */
	-ms-transition: 	-ms-transform ease-in 200ms,opacity ease-in 200m,visibility ease-in 200mss; /* IE9? */
	display:inline-block;
}
.icon-out.icon-right:hover .fa,
.icon-out.icon-right:hover .lnr,
.icon-out.icon-right:hover .glyphicon,
.icon-in.icon-right .fa,
.icon-in.icon-right .lnr,
.icon-in.icon-right .glyphicon{
	transform:translateX(0.9em);
	-webkit-transform:translateX(0.9em);
	opacity:0;
	visibility:hidden;
}
.icon-out.icon-right:hover > span,
.icon-in.icon-right > span{
	transform:translateX(0.9em);
	-webkit-transform:translateX(0.9em);
}
.icon-out.icon-left:hover .fa,
.icon-out.icon-left:hover .lnr,
.icon-out.icon-left:hover .glyphicon,
.icon-in.icon-left .fa,
.icon-in.icon-left .lnr,
.icon-in.icon-left .glyphicon{
	transform:translateX(-0.9em);
	-webkit-transform:translateX(-0.9em);
	opacity:0;
	visibility:hidden;
}
.icon-out.icon-left:hover > span,
.icon-in.icon-left > span{
	transform:translateX(-0.9em);
	-webkit-transform:translateX(-0.9em);
}
.icon-in.icon-right:hover .fa,
.icon-in.icon-right:hover .lnr,
.icon-in.icon-right:hover .glyphicon,
.icon-in.icon-left:hover .fa,
.icon-in.icon-left:hover .lnr,
.icon-in.icon-left:hover .glyphicon{
	transform:translateX(0);
	-webkit-transform:translateX(0);
	opacity:1;
	visibility:visible;
}
.icon-in.icon-right:hover > span,
.icon-in.icon-left:hover > span{
	transform:translateX(0);
	-webkit-transform:translateX(0);
}

@-webkit-keyframes icon-bounce {
	0%, 100% {
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(5px);
		transform:translateX(5px);
	}
}
@keyframes icon-bounce {
	0%, 100% {
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(5px);
		transform:translateX(5px);
	}
}
@-webkit-keyframes icon-bounce-left {
	0%, 100% {
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(-5px);
		transform:translateX(-5px);
	}
}
@keyframes icon-bounce-left {
	0%, 100% {
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(-5px);
		transform:translateX(-5px);
	}
}

.icon-bounce .fa:before,
.icon-bounce .lnr:before,
.icon-bounce .glyphicon:before{
	position:relative;
	display:inline-block;
    -webkit-animation: icon-bounce .85s linear infinite;
    animation: icon-bounce .85s linear infinite;
}
.icon-bounce.icon-left .fa:before,
.icon-bounce.icon-left .lnr:before,
.icon-bounce.icon-left .glyphicon:before{
    -webkit-animation: icon-bounce-left .85s linear infinite;
    animation: icon-bounce-left .85s linear infinite;
}
/*table*/
.option-table>thead>tr>th{
	vertical-align:top;
}
.option-table{
	vertical-align:top;
}
.option-table td,
.option-table th{
	vertical-align:top;
}
.option-table  td{
	text-align:center;
	vertical-align:middle!important;
}
.option-table tr td:first-child{
	text-align:left;
}
.option-table .fa-check{
	color:#090
}
.option-table .fa-close{
	color:#C00
}

.option-table table td{
	text-align:left;
	padding:0 10px 3px 0;
}
.dg-btn-1.hover-accent:hover,
.dg-btn-4.hover-accent:hover,
.dg-btn-3.hover-accent:hover{
	color:#FFF!important;
}
.dg-btn-2.hover-accent:hover,
.dg-btn-4.hover-accent:hover,
.dg-btn-5.hover-accent:hover{
}
.dg-btn-1.btn-accent,
.dg-btn-4.btn-accent,
.dg-btn-3.btn-accent{
	color:#FFF;
}
.dg-btn-2.btn-accent,
.dg-btn-4.btn-accent,
.dg-btn-5.btn-accent{
	background-color:transparent;
}





