/*dng-cascading-images*/
.dng-cascading-images,
.dng-cascading-box{
   position:relative;
   margin: auto;
}
.dng-cascading-box.overflowhidden .dng-cascading-images{
  overflow: hidden;
}

.dng-cascading-images:after{
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}
.dng-cascading-images .img-item{
  position: absolute;
  float: left;
  top: 50%;
  left:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 100%;
  -webkit-transform-origin: center;
  transform-origin: center;
  z-index:4;
  text-align: center;
  opacity: 0;

  transition: opacity ease 100ms;
  -moz-transition: opacity ease 100ms;
  -webkit-transition: opacity ease 100ms;
  -o-transition: opacity ease 100ms;
  -ms-transition: opacity ease 100ms;
}
.dng-cascading-images .img-item .img-position{
  margin:auto;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.dng-cascading-images img{
  max-width: 100%;
}
.dng-cascading-images .img-item:first-child{
  position:relative;
  top: 0%;
  left:0%;
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

.dng-cascading-images .shadow-size-xs img{
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);
  box-shadow:0 0 10px rgba(0,0,0,0.15);
}
.dng-cascading-images .shadow-size-sm img{
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.15);
  box-shadow:0 0 15px rgba(0,0,0,0.15);
}
.dng-cascading-images .shadow-size-lg img{
  -webkit-box-shadow:0 0 30px rgba(0,0,0,0.15);
  box-shadow:0 0 30px rgba(0,0,0,0.15);
}
.dng-cascading-images .shadow-size-xl img{
  -webkit-box-shadow:0 0 50px rgba(0,0,0,0.15);
  box-shadow:0 0 50px rgba(0,0,0,0.15);
}
.dng-cascading-images .shadow-size-xxl img{
  -webkit-box-shadow:0 0 100px rgba(0,0,0,0.15);
  box-shadow:0 0 100px rgba(0,0,0,0.15);
}
@media only screen and (max-width: 991px) {

  .dng-cascading-images .shadow-size-lg img{
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.15);
    box-shadow:0 0 15px rgba(0,0,0,0.15);
  }
  .dng-cascading-images .shadow-size-xl img{
    -webkit-box-shadow:0 0 25px rgba(0,0,0,0.15);
    box-shadow:0 0 25px rgba(0,0,0,0.15);
  }
  .dng-cascading-images .shadow-size-xxl img{
    -webkit-box-shadow:0 0 50px rgba(0,0,0,0.15);
    box-shadow:0 0 50px rgba(0,0,0,0.15);
  }
}

@media only screen and (max-width: 767px) {
  .dng-cascading-images .shadow-size-lg img{
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.15);
    box-shadow:0 0 15px rgba(0,0,0,0.15);
  }
  .dng-cascading-images .shadow-size-xl img{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.15);
    box-shadow:0 0 20px rgba(0,0,0,0.15);
  }
  .dng-cascading-images .shadow-size-xxl img{
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.15);
    box-shadow:0 0 30px rgba(0,0,0,0.15);
  }
}

.dng-cascading-box .dng-cascading-water.dng_animate_visible{
  position: static;
}
.dng-cascading-box .dng-cascading-water{
  pointer-events:none;
}
.dng-cascading-box .dng-cascading-water .dot{
 background-color:inherit;
}
.dng-cascading-box .dng-cascading-water .water{
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}

.dng-cascading-box .dng-cascading-water.animated .water:after,
.dng-cascading-box .dng-cascading-water.animated .water:before,
.dng-cascading-box .dng-cascading-water.animated .water .dot:after,
.dng-cascading-box .dng-cascading-water.animated .water .dot:before{
	content:"";
	background-color:inherit;
	position:absolute;
	opacity:0;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
  -webkit-animation: water 3s ease-out;  
  -moz-animation: water 3s ease-out;  
  animation: water 3s ease-out; 
  -webkit-animation-iteration-count: infinite;  
  -moz-animation-iteration-count: infinite;  
  animation-iteration-count: infinite;  
  padding: 0 40% 40% 0;
  margin: -20% 0 0 -20%;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}
.dng-cascading-box .dng-cascading-water.animated .water:after{
  -webkit-animation-delay:300ms;  
  -moz-animation-delay:300ms;  
  animation-delay:300ms;  
}
.dng-cascading-box .dng-cascading-water.animated .water:before{
  -webkit-animation-delay:660ms;  
  -moz-animation-delay:660ms;  
  animation-delay:660ms;  
}
.dng-cascading-box .dng-cascading-water.animated .water .dot:after{
  -webkit-animation-delay:1020ms;  
  -moz-animation-delay:1020ms;  
  animation-delay:1020ms;  
}
.dng-cascading-box .dng-cascading-water.animated .water .dot:before{
  -webkit-animation-delay:1380ms;  
  -moz-animation-delay:1380ms;  
  animation-delay:1380ms;  
}


.dng-cascading-box .dng-cascading-water.style02 .water{
  top:93%;
}
.dng-cascading-box .dng-cascading-water.style02 .water:after,
.dng-cascading-box .dng-cascading-water.style02 .water:before,
.dng-cascading-box .dng-cascading-water.style02 .water .dot:after,
.dng-cascading-box .dng-cascading-water.style02 .water .dot:before{
  padding: 0 60% 15% 0;
  margin: -7.5% 0 0 -30%;
}
