/*



.dg-flip-box  -> %s { 控制flip外观样式 } dg-flip-box01 / dg-flip-box02 / dg-flip-box03 / dg-flip-box04 / dg-flip-box06

.dg-flip-box  -> %s { rotate } rotate-default / rotate-text-3d / rotate-3d

.dg-flip-box  -> %s { flip directions } flip-left / flip-right / flip-top / flip-bottom




*/

/*flip-box*/


.dg-flip-box {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	overflow: visible;
	margin-bottom: 15px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
 	 backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	opacity: 1;
	z-index: 0;
	-webkit-transition: z-index 750ms ease ;
	-moz-transition: z-index 750ms ease ;
	-o-transition: z-index 750ms ease ;
	transition: z-index 750ms ease ;
	-ms-transition: z-index 0ms ease ; 
}
.dg-flip-box:hover {
	z-index: 100;
}
.dg-flip-box .title{
	font-size: 18px;
	color: #424242;
}
.dg-flip-box .front,
.dg-flip-box .back {
	-webkit-transition: all 750ms ease 0s;
	-moz-transition: all 750ms ease 0s;
	-o-transition: all 750ms ease 0s;
	transition: all 750ms ease 0s;
	-ms-transition: all 0ms ease 0s; 
	position:relative;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.dg-flip-box .front {
	position: relative;
	color: #444;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 1;
	pointer-events:none
}

.dg-flip-box .back {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	/*bottom: 0px;*/
	min-height: 100%;
	z-index: 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	display: flex;
    justify-content: center;
    align-items: Center;
}

.dg-flip-box.rotate-3d .front{
	-webkit-transform:rotateY(0) translateX(0);
	-moz-transform:rotateY(0) translateX(0);
	transform:rotateY(0) translateX(0);
}
.dg-flip-box.rotate-3d .back{
	-webkit-transform:rotateY(-180deg) translateX(-300px);
	-moz-transform:rotateY(-180deg) translateX(-300px);
	transform:rotateY(-180deg) translateX(-300px);
}

.dg-flip-box.flip-right .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.dg-flip-box.rotate-3d.flip-right .back{
	-webkit-transform:rotateY(180deg) translateX(300px);
	-moz-transform:rotateY(180deg) translateX(300px);
	transform:rotateY(180deg) translateX(300px);
}
.dg-flip-box.flip-top .front {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.dg-flip-box.flip-top .back {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.dg-flip-box.rotate-3d.flip-top .front {
	-webkit-transform: rotateX(0deg) translateY(0);
	-moz-transform: rotateX(0deg) translateY(0);
	transform: rotateX(0deg) translateY(0);
}
.dg-flip-box.rotate-3d.flip-top .back{
	-webkit-transform:rotateX(-180deg) translateY(-300px);
	-moz-transform:rotateX(-180deg) translateY(-300px);
	transform:rotateX(-180deg) translateY(-300px);
}

.dg-flip-box.flip-bottom .front {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.dg-flip-box.flip-bottom .back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.dg-flip-box.rotate-3d.flip-bottom .front {
	-webkit-transform: rotateX(0deg) translateY(0);
	-moz-transform: rotateX(0deg) translateY(0);
	transform: rotateX(0deg) translateY(0);
}
.dg-flip-box.rotate-3d.flip-bottom .back{
	-webkit-transform:rotateX(180deg) translateY(300px);
	-moz-transform:rotateX(180deg) translateY(300px);
	transform:rotateX(180deg) translateY(300px);
}
.dg-flip-box:hover .front {
	background-color: #FFF;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.dg-flip-box:hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 1;
}
.dg-flip-box.rotate-3d:hover .front{
	-webkit-transform: rotateY(180deg) translateX(100%);
	-moz-transform: rotateY(180deg) translateX(100%);
	transform: rotateY(180deg) translateX(100%);
}
.dg-flip-box.rotate-3d:hover .back{
	-webkit-transform: rotateY(0deg) translateX(0);
	-moz-transform: rotateY(0deg) translateX(0);
	transform: rotateY(0deg) translateX(0);
}
.dg-flip-box.flip-right:hover .front {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.dg-flip-box.rotate-3d.flip-right:hover .front{
	-webkit-transform: rotateY(-180deg) translateX(-100%);
	-moz-transform: rotateY(-180deg) translateX(-100%);
	transform: rotateY(-180deg) translateX(-100%);
}

.dg-flip-box.flip-top:hover .front {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.dg-flip-box.flip-top:hover .back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.dg-flip-box.rotate-3d.flip-top:hover .front {
	-webkit-transform: rotateX(180deg) translateY(-100%);
	-moz-transform: rotateX(180deg) translateY(-100%);
	transform: rotateX(180deg) translateY(-100%);
}
.dg-flip-box.rotate-3d.flip-top:hover .back {
	-webkit-transform: rotateX(0deg) translateY(0);
	-moz-transform: rotateX(0deg) translateY(0);
	transform: rotateX(0deg) translateY(0);
}

.dg-flip-box.flip-bottom:hover .front {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.dg-flip-box.flip-bottom:hover .back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.dg-flip-box.rotate-3d.flip-bottom:hover .front {
	-webkit-transform: rotateX(-180deg) translateY(100%);
	-moz-transform: rotateX(-180deg) translateY(100%);
	transform: rotateX(-180deg) translateY(100%);
}
.dg-flip-box.rotate-3d.flip-bottom:hover .back {
	-webkit-transform: rotateX(0deg) translateY(0);
	-moz-transform: rotateX(0deg) translateY(0);
	transform: rotateX(0deg) translateY(0);
}

.dg-flip-box.rotate-text-3d .front,
.dg-flip-box.rotate-text-3d .back {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.dg-flip-box.rotate-text-3d .front .box > .center{
	-webkit-transform:translateZ(60px) scale(.94);
	transform:translateZ(60px) scale(.94);
}
.dg-flip-box.rotate-text-3d .back .box > .center{
	-webkit-transform:translateZ(60px) scale(.94);
	transform:translateZ(60px) scale(.94);
}

.dg-flip-box01 .front,
.dg-flip-box01 .back{
	border:1px solid #dcdcdc;
	padding:50px;
	background-color: #FFF;
	text-align: center;
}

.dg-flip-box01 .back{
	white-space:nowrap;
}
.dg-flip-box01 .back >div {
	display:inline-block;
	width:100%;
	white-space:normal;
	vertical-align:middle;
}
.dg-flip-box01 .back:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
@media only screen  and (max-width: 1199px) {
	.dg-flip-box01 .front,
	.dg-flip-box01 .back{
		padding:25px;
	}
}

.dg-flip-box02{
	margin-top:50px;
}
.dg-flip-box02 .front,
.dg-flip-box02 .back{
	border:1px solid #dcdcdc;
	text-align:center;
	background-color: #FFF;	
}
.dg-flip-box02 .dg-iconbox{
	margin:0px 10%;
}
.dg-flip-box02 .front,
.dg-flip-box02 .back{
	padding-bottom:40px;
}
.dg-flip-box02 .dg-iconbox [class*="dg-ico"],
.dg-flip-box02 .dg-iconbox [class*="dg-ico"]{
	margin-top:-40px;
	margin-bottom:35px;
	color: #FFF;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);

}
.dg-flip-box02 .dg-iconbox .title{
	font-size:18px;
	margin:0 0 ;
	color:#424242;
	margin-bottom:27px;
}

.dg-flip-box02 .dg-btn-2{
	width: 146px;
}


@media only screen  and (max-width: 1199px) {
	.dg-flip-box02 .dg-iconbox{
		margin:0px 10%;
	}
}





.dg-flip-box03 .pic img{
	width:100%;
}
.dg-flip-box03 .box{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.7);
	white-space:nowrap;
}
.dg-flip-box03 .box:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.dg-flip-box03 .box > .center{
	white-space:normal;
	display:inline-block;
	width:100%;
	vertical-align:middle;
	text-align:center;
	color:#FFF;
	position:relative;
  padding: 0px 20px;
}
.dg-flip-box03 .title{
	color:#FFF;
	font-size:18px;
}
.dg-flip-box03 .back,
.dg-flip-box03 .back a, 
.dg-flip-box03 .back a:link, 
.dg-flip-box03 .back a:active, 
.dg-flip-box03 .back a:visited, 
.dg-flip-box03 .back a:hover{
	color:#FFF;
}

.dg-flip-box04 .front{
	background-color:#fbfbfb;
	border:1px solid #e5e5e5;
  text-align: center;
}
.dg-flip-box04 .pic{
	margin:-1px;
}
.dg-flip-box04 .pic img{
	width:100%;
	vertical-align: top;
}
.dg-flip-box04 .center{
	padding:25px;
	text-align:center;
}
.dg-flip-box04 .center .title{
	font-size:18px;
	color:#424242;
	margin:0px 0px 12px;
}
.dg-flip-box04 .back{
	white-space:nowrap;
  background-color: #20a3f0;
  
}
.dg-flip-box04 .back:after,
.dg-flip-box04 .back > .box:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.dg-flip-box04 .back .center{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	white-space:normal;
	text-align:center;
	padding:35px 85px;
}
.dg-flip-box04 .back .title{
	font-size:18px;
	color:#fff;
	margin:0px 0px 19px;
}
.dg-flip-box04 .back,
.dg-flip-box04 .back a, 
.dg-flip-box04 .back a:link, 
.dg-flip-box04 .back a:active, 
.dg-flip-box04 .back a:visited, 
.dg-flip-box04 .back a:hover{
	color:#FFF;
}

.dg-flip-box04 .back > .box{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}


@media only screen  and (max-width: 1199px) {
	.dg-flip-box04 .back .center{
		padding:25px;
	}
}

.dg-flip-box05 img{
	width:100%;
}
.dg-flip-box05 .cont{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	z-index:1;
	padding:22px 20px 19px;
	color:#FFF;
}
.dg-flip-box05 .cont:after{
	content:"";
	background-color:#0990ec;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	opacity:0.85;
}
.dg-flip-box05 .title{
	color:#FFF;
	margin:0 0 8px;
	font-size:14px;
}
.dg-flip-box05 .title small{
	font-size:13px;
	color:#FFF;
	display:block;
	margin-top:3px;
	font-weight: normal;
}
.dg-flip-box05 .back{
	text-align:center;
	white-space:nowrap;
	background-color:#697b85;
	color:#FFF;
}

.dg-flip-box05 .back > .center{
	white-space:normal;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	padding:30px 35px;
}
.dg-flip-box05 .back .title{
	margin-bottom:27px;
}
.dg-flip-box05 .back .title small{
	margin-top:6px;
}
.dg-flip-box05 .social{
	margin-bottom:14px;
}
.dg-flip-box05 .back .social a{
	width:38px;
	height:38px;
	line-height:38px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	color:#FFF;
	border:1px solid #FFF;
	display:inline-block;
	margin:0 4px 6px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.dg-flip-box05 .back .social a:hover{
	text-decoration:none;
	border-color:#b4bdc2;
	color:#b4bdc2;
}
.dg-flip-box05 .back a, 
.dg-flip-box05 .back a:link, 
.dg-flip-box05 .back a:active, 
.dg-flip-box05 .back a:visited, 
.dg-flip-box05 .back a:hover{
	color:#FFF;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.dg-flip-box05 .back > .center{
		padding:15px;
	}
}

.dg-flip-box06{
	text-align:center;
}
.dg-flip-box06 .front,
.dg-flip-box06 .back{
	text-align:center;
	padding:50px 50px 45px;
  background-color: #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.dg-flip-box06 .title{
	font-size:18px;
	margin:30px 0px 17px;
}
.dg-flip-box06 .title:after{
	content:"";
	border-bottom:1px solid #ffffff;
	width:50px;
	display:block;
	margin:21px auto 0;
}
.dg-flip-box06 .front{
  background-color:#20a3f0;
}
.dg-flip-box06 .front,
.dg-flip-box06 .front .title{
	color:#FFF;
}
.dg-flip-box06 .back .title{
	margin-top:0;
}
.dg-flip-box06 .back .title:after{
	border-bottom-color:#3eaffc;
}
.dg-flip-box06 .back{
	white-space:nowrap;
}
.dg-flip-box06 .back:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.dg-flip-box06 .back .center{
	white-space:normal;
	display:inline-block;
	vertical-align:middle;
	width:100%;
}
.dg-flip-box06 .back > .box{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.dg-flip-box06 .dg-btn-1{
	width: 146px;
}


@media only screen  and (max-width: 1199px) {
	.dg-flip-box06 .front,
	.dg-flip-box06 .back{
		padding:30px 25px 25px;
	}
}
.dg-flip-box07 {
  position: relative;
  margin: 0;
  float: left;
  width:20%;
}
.dg-flip-box07 .front h3{
   position: absolute;
   text-align: center;
   margin: 0;
   line-height: 1.2;
   color: #fff;
   font-size: 14px;
   padding: 20px 0;
    width:80%;
    bottom: 30px;
    background-color: #20a3f0;
}
.dg-flip-box07 .front h3 span{
  display: block;
  font-weight: normal;
  font-size: 13px; 
  padding: 3px 0 0 0; 
}
.dg-flip-box07 .front img{
  width:100%;
}
.dg-flip-box07 .back{
  background-color: #697b85;
}
.dg-flip-box07 .back .vertical-align{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 50%;
    padding: 0 15px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    color: #fff;
}
 @media only screen and (min-width: 1200px) {
  .dg-flip-box07 .back .vertical-align{
        padding: 0 48px;
  }
}
.dg-flip-box07 .back h5{
   margin: 0;
   line-height: 1.2;
   color: #fff;
   width: 100%;
   font-size: 14px;
   padding: 0 0;
   text-align: center;
}
.dg-flip-box07 .back h6{
   font-weight:normal;
   margin: 3px 0  0 0;
   line-height: 1.2;
   color: #fff;
   width: 100%;
   font-size: 13px;
   padding: 0 0;
   text-align: center;
}
.dg-flip-box07 .back p{
     margin: 25px 0 0 0;
    font-size: 13px;
}
.dg-flip-box07 .back .home11-social{
  margin: 0 0 18px 0;
}
.dg-flip-box07 .back .home11-social a{
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 3px;
  color: #fff;
}
.dg-flip-box07 .back .home11-social a:hover{
   opacity:0.5;
   text-decoration: none;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
.dg-flip-box07 {
    width: 33.33%;
}
}
@media only screen and (max-width: 767px){
.dg-flip-box07 {
    float: none;
    width: 100%;
}
}
