 #dnn_FooterPaneA{border-top-width:1px;border-top-style:solid;border-top-color:rgba(227,227,227,1);}#footerinfo451166,
	#footerinfo451166 a,  
	#footerinfo451166 a:link,   
	#footerinfo451166 a:active,   
	#footerinfo451166 a:visited{color:rgba(102,102,102,1);}
		#footerinfo451166 .sep{
			margin:0px 5px;
		}
		
		#footerinfo451166 a:hover{
			color: #20a3f0;
			text-decoration: none;
		}
		#footerinfo27975 .sep{
			margin:0px 5px;
		}
		
		#footerinfo27975 a:hover{
			color: #20a3f0;
			text-decoration: none;
		}#UserLogin411049,
		#UserLogin411049 a,  
		#UserLogin411049 a:link,   
		#UserLogin411049 a:active,   
		#UserLogin411049 a:visited{color:#aaaaaa;}
			#UserLogin411049 a:hover{
				color: #20a3f0;
				text-decoration: none;
			}#row-490211{background-color:rgba(249,249,249,1);}#row-891223{background-image:url("../images/footer-bg.jpg");background-repeat:no-repeat;background-size:cover;background-position:center center;}#column-800557{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(228,228,228,1);}