 
/**************** Login page******************/
@media only screen and (max-width:767px) {
	.loginContent .LoginPanel {
		width: 100% !important;
	}
	.loginContent .dnnFormItem .dnnLoginRememberMe {
		white-space: nowrap;
	}
	.loginContent .dnnFormLabel {
		display: block !important;
		text-align: left !important;
	}
}

form[action*="/Login?returnurl"] .loginContent .LoginPanel{
	width:500px!important;
}
form[action*="/Login?returnurl"] .loginContent .dnnFormItem .dnnLoginRememberMe {
	white-space:inherit;
}
form[action*="/Login?returnurl"] .loginContent .dnnFormLabel {
	display: inline-block !important;
	text-align: right !important;
}


.registerGroup ul,
.registerGroup li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.registerGroup,
.loginGroup{
	display: inline-block;
}
.registerGroup a,
.loginGroup a,
.registerGroup a:link,
.loginGroup a:link,
.registerGroup a:active,
.loginGroup a:active,
.registerGroup a:visited,
.loginGroup a:visited{
	color:inherit;
}

.loginContent a,
.loginContent a:link{
	color:#333;
}
.loginContent a.dnnPrimaryAction{
	color:#FFF;
}
.loginContent a:hover{
	text-decoration: none;
}

/**************** register page******************/
@media only screen and (max-width:767px) {
.dnnRegistrationForm {
	min-width: inherit !important;
}
.dnnRegistrationForm .dnnForm {
	width: 100%;
}
.dnnRegistrationForm .dnnFormLabel {
	display: block !important;
	text-align: left !important;
}
.dnnRegistrationForm .dnnForm .dnnFormItem .dnnLabel {
	display: block !important;
	float: none !important;
	text-align: left !important;
	width: 100%;
}
.dnnRegistrationForm .dnnForm .dnnFormItem a.dnnFormHelp {
	right: auto !important;
	position: static !important;
	margin-left: 5px !important;
}
.dnnRegistrationForm .dnnForm .dnnFormItem {
	padding: 0px !important;
	margin: 0px !important;
}
.dnnRegistrationForm .dnnFormItem input[type="text"],
.dnnRegistrationForm .dnnFormItem input[type="password"],
.dnnRegistrationForm .dnnFormItem input[type="email"],
.dnnRegistrationForm .dnnFormItem input[type="tel"],
.dnnRegistrationForm .dnnFormItem select,
.dnnRegistrationForm .dnnFormItem textarea {
	width: 100%;
	margin-bottom: 10px !important;
}
}

/**************** Password page******************/
@media only screen and (max-width:767px) {
.dnnSendPasswordContent {
	width: auto !important;
}
.dnnSendPasswordContent .dnnLabel {
	display: block !important;
	width: 100% !important;
	text-align: left;
}
.dnnSendPasswordContent a.dnnFormHelp,
.dnnSendPasswordContent .dnnForm .dnnFormItem a.dnnFormHelp,
.dnnSendPasswordContent .dnnTooltip label a.dnnFormHelp {
	position: static;
}
.dnnSendPasswordContent input[type="text"],
.dnnSendPasswordContent input[type="password"],
.dnnSendPasswordContent input[type="email"],
.dnnSendPasswordContent input[type="tel"],
.dnnSendPasswordContent select,
.dnnSendPasswordContent textarea {
	width: 90%;
	margin-bottom: 10px !important;
}
.dnnSendPasswordContent ul.dnnActions {
	padding: 0 !important;
}
}

/*dnnSearchBox*/
.dnnSearchBoxPanel .dnnSearchBox{
	margin-right: 128px;
}
.dnnSearchBox > .dnnSearchBox_advanced > .dnnSearchBox_advanced_label{
	height: 33px;
}
.dnnSearchBox > a.dnnSearchButton{
	top: 7px;
	right: 3px;
}
.dnnSearchResultPanel .dnnSearchResultAdvancedTip{
	margin: 8px 13px 0 0;
}

.dnnSearchResultPanel .selectize-input{
	vertical-align: middle;
	height: 42px;
}
.dnnSearchResultPanel .selectize-input > input{
	vertical-align: super;
	display: none !important;
}
.dnnSearchResultPanel .selectize-input > .item{
	padding-top: 4px;
}

.dnnSearchBoxPanel .dnnSearchBox > input[type="text"], 
.dnnSearchBoxPanel .dnnSearchBox > input[type="text"]:focus{
	top: 7px;
}
.dnnSearchBoxPanel .dnnSearchBox > a.dnnSearchBoxClearText{
	margin: 6px 0 0 0;
}

/*footer*/
footer.footer .dngTextBox,
.footer-logoin{
	display: inline-block
}
.footer-logoin{

	
}


/* ********** Control Panel Style ************** */
.CommandButton,
A.CommandButton:link,
A.CommandButton:visited,
A.CommandButton:active {
	font-size: 12px;
	color: #973939;
	text-decoration: none;
	font-weight: normal;
}
A.CommandButton:hover {
	color: #973939;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}
.FileManager A,
.FileManager A:link,
.FileManager A:visited,
.FileManager A:active {
	color: #000;
	text-decoration: underline;
}
.FileManager A:hover {
	color: #000;
	text-decoration: none;
}
/* ********** Pane Style ************** */
.DNNEmptyPane {
	display: none;
}
#dnn_ControlPanel #dnnCPWrap {
	filter: none !important;
}
ul.dnnActionMenuBody li ul li a,
ul.dnnActionMenuBody li ul li a img {
	color: #328DDE!important;
}
form#Form {
	height: 100%;
}
.ModuleTitle_SubMenu {
	z-index: 9999!important;
}
/* ********** Pane Style End ************** */
/*Bootstrap.css*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	min-height:auto;
}
#ControlBar,
#ControlBar *,
.dnnMemberDirectory,
.dnnMemberDirectory *,
.dnn_mact > li.actionMenuMove > ul li {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: inline-block;
}
big {
	font-size: larger;
}
/*Bootstrap.css End*/

.contact_img img {
	display: none;
}
.home01-banner img {
	max-width: 100%;
}
li p {
	line-height: 1.8;
}
body[style*="margin-left: 80px"] .mfp-arrow-left.mfp-prevent-close {
	margin-left: 80px;
}
.CoverPane,
.BannerPane,
.BottomOutPane,
.footer_box [class*="Pane"],
.header_bg [class*="Pane"],
.BannerPane [class*="Pane"],
.pagetitleBox [class*="Pane"] {
	margin-bottom: 0px!important;
}
.DNNEmptyPane {
	width: auto;
}
.dnn_logo a,
.dnn_logo a:hover {
	text-decoration: none;
}
.contact_cona .dg-iconbox04 .title {
	color: #555555;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 16px 0;
}
.contact_cona p {
	color: #666666;
}
.contact_cona p span {
	color: #555555;
	font-weight: 600;
}
.contact-locations {
	background: #ffffff;
	padding: 100px 4% 90px;
	margin: -167px 0 20px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	position: relative;
	z-index: 904;
}
.contact-locations h5 {
	color: #424242;
	margin: 35px 0 20px 0;
}
.contact-locations .line {
	background: #d1d3d3;
	width: 50px;
	height: 1px;
	margin: 0 auto 20px;
}
.contact-locations .flag {
	cursor: pointer;
}
.pulse-grow {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.pulse-grow:active,
.pulse-grow:focus,
.pulse-grow:hover {
	-webkit-animation-name: pulse-grow;
	animation-name: pulse-grow;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}
.contact_form {
	width: 781px;
	margin: 0 auto;
}
/*gmap*/
#gmap {
	height: 736px;
	width: 100%;
}
#gmap img {
	max-width: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.dnn_option .right_logo {
	position: relative !important;
	right: initial !important;
	top: initial !important;
	padding-bottom: 5px;
	text-align: center;
}
.contact-locations {
	margin: -110px 0 20px 0;
	padding: 100px 2% 90px;
}
.contact_form {
	width: 700px;
}
#gmap {
	height: 600px;
}
.mobile_layout a {
	display: block;
}
.mobile_layout {
	line-height: 23px;
}
.mobile_layout br {
	display: none;
}
.link_box {
	padding-bottom: 23px !important;
}
.footer-menu a {
	margin: 0px 10px 17px !important;
}
.footer-04 .footer-bottom {
	padding-top: 20px !important;
}
.footer-menu {
	margin-top: 0px !important;
}
}

@media only screen and (max-width: 767px) {
.home_tabbox .resp-tabs-container {
	padding: 0 15px !important;
}
.mobile_layout a {
	display: block;
}
.mobile_layout {
	line-height: 23px;
}
.mobile_layout br {
	display: none;
}
.link_box {
	padding-bottom: 23px !important;
}
.footer-menu a {
	margin: 0px 10px 17px !important;
}
.footer-04 .logo {
	padding-bottom: 0px !important
}
.footer-04 .footer-bottom {
	padding: 12px 0 30px !important;
}
.footer_logobox {
	margin-top: 23px !important;
}
.dnn_option .right_logo {
	position: relative !important;
	right: initial !important;
	top: initial !important;
	padding-bottom: 5px;
	text-align: center;
}
.contact-locations {
	margin: 0 0 20px 0;
	padding: 45px 0 40px;
}
.contact_form {
	width: 100%;
}
#gmap {
	height: 400px;
}
.footer_html {
	width: auto !important;
	margin: 0px !important;
}
}
.button {
	margin: .4em;
	padding: 1em;
	cursor: pointer;
	background: #e1e1e1;
	text-decoration: none;
	color: #666;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.grow {
	display: inline-block;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.grow:active,
.grow:focus,
.grow:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
.shrink {
	display: inline-block;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.shrink:active,
.shrink:focus,
.shrink:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9)
}
@-webkit-keyframes pulse {
25% {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
75% {
-webkit-transform:scale(0.9);
transform:scale(0.9)
}
}
@keyframes pulse {
25% {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
75% {
-webkit-transform:scale(0.9);
transform:scale(0.9)
}
}
.pulse {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.pulse:active,
.pulse:focus,
.pulse:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
@-webkit-keyframes pulse-grow {
to {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
}
@keyframes pulse-grow {
to {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
}
.pulse-grow {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.pulse-grow:active,
.pulse-grow:focus,
.pulse-grow:hover {
	-webkit-animation-name: pulse-grow;
	animation-name: pulse-grow;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}
@-webkit-keyframes pulse-shrink {
to {
-webkit-transform:scale(0.9);
transform:scale(0.9)
}
}
@keyframes pulse-shrink {
to {
-webkit-transform:scale(0.9);
transform:scale(0.9)
}
}

.home02-bg03.color-white {
	border-bottom: 1px solid #333333;
}
/*content_slider_style*/
div.main_slider_wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
}
.slider_wrapper * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.slider_wrapper {
	text-align: left;
	margin: 0;
	padding: 0;
	border: none;
	clear: both;
	display: block;
	position: relative;
}
.slider_wrapper .circle_slider {
	position: relative;
	width: 970px;
	height: 260px;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}
.circle_slider_thumb {
	border: #ecebeb solid 1px !important;
	padding: 4px !important;
	position: absolute;
	top: 97px;
	width: 84px;
	height: 84px;
	float: left;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.circle_slider_thumb img {
	max-width: 100% !important;
	width: 84px;
	margin: 0 !important;
	padding: 0 !important;
	border: none;
	border-radius: 84px;
}
.circle_slider_big {
	overflow: hidden;
	border: #282828 solid 8px;
	border-radius: 231px;
	position: absolute;
	top: 24px;
	width: 231px;
	height: 231px;
	float: left;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	margin: 0;
	padding: 0;
}
.circle_slider_big img {
	width: 231px;
	margin: 0;
	padding: 0;
	border: none;
}
.slider_wrapper .circle_slider_nav_left {
	position: absolute;
	top: 334px;
	left: 95px;
	height: 57px;
	width: 28px;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	cursor: pointer;
}
.slider_wrapper .circle_slider_no_border2_left {
	width: 24px;
}
.slider_wrapper .circle_slider_nav_left span {
	border-radius: 50px 0px 0px 50px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background: url(images/slider_ico.png) no-repeat left top;
	box-shadow: none !important;
}
.slider_wrapper .circle_slider_nav_right {
	position: absolute;
	top: 597px;
	left: 95px;
	height: 57px;
	width: 28px;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	cursor: pointer;
}
.slider_wrapper .circle_slider_nav_right span {
	margin-left: -26px;
	left: 0px;
	position: absolute;
	display: inline-block;
	box-shadow: none !important;
	background: url(images/slider_ico.png) no-repeat left top;
}
.slider_wrapper .circle_slider_nav_left.circle_slider_no_border span {
	padding: 0;
	margin-left: 8px;
	border-radius: 0;
	background: url(images/slider_ico.png) no-repeat left 8px !important;
	box-shadow: none !important;
	overflow: hidden;
	text-indent: -999px;
	display: block;
	width: 100%;
	height: 30px;
}
.slider_wrapper .circle_slider_nav_right.circle_slider_no_border span {
	padding: 0;
	left: 4px;
	border-radius: 0;
	background: url(images/slider_ico.png) no-repeat right 8px !important;
	box-shadow: none !important;
	overflow: hidden;
	text-indent: -999px;
	display: block;
	width: 100%;
	margin-left: -4px;
	height: 30px;
}
/*	Circle Slider text	*/

.slider_wrapper .slider_item {
	width: 100%;
	left: 0px;
	top: 10px;
	position: relative;
	display: inline-block;
}
.slider_wrapper .slider_item .circle_slider_text {
	width: 460px;
	padding: 0 20px 20px 0px;
	border-right: 1px solid #7e7e7e;
	float: left;
	margin: 0;
	border-left: none;
	border-bottom: none;
	border-top: none;
}
.slider_wrapper .slider_item .circle_slider_text.right {
	border-left: 1px solid #7e7e7e;
	border-right: none;
	width: 459px;
	padding: 0 0px 20px 20px;
	margin: 0 0 0 -1px;
	border-bottom: none;
	border-top: none;
}
.slider_wrapper .slider_item .circle_slider_text span {
	text-align: right;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
.slider_wrapper .slider_item .circle_slider_text h4 {
	float: right;
}
.slider_wrapper .slider_item .circle_slider_text.right span {
	text-align: left;
}
.slider_wrapper .slider_item .circle_slider_text.right h4 {
	float: left;
}
.image_more_info {
	width: 42px;
	height: 42px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
}
.image_more_info a {
	position: relative;
}
.image_more_info span {
	border-radius: 50%;
	display: block;
	padding: 0px;
	overflow: hidden;
	border: 0;
	width: 0px;
	height: 0px;
	background: url(images/slider_ico.png) no-repeat 12px -28px #3b9cf7!important;
	box-shadow: none !important;
	font-size: 0px;
}
.circle_item_border {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -1px;
	left: -1px;
	border: 5px solid #000000;
	border-radius: 40px 40px 40px 40px;
	z-index: 5;
}
/* additional content */

.slider_wrapper .slider_wrap {
	text-align: center;
}
.slider_wrapper div.all_around_text_up {
	position: absolute;
	margin: 0;
	padding: 0;
}
.slider_wrapper div.all_around_text_down {
	position: absolute;
	margin: 0;
	padding: 0;
}
.slider_wrapper span.all_around_text_span_up {
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.slider_wrapper span.all_around_text_span_down {
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	padding: 5px!important;
	font-size: 15px;
	color: #555859;
}
.slider_wrapper .slider_item {
	display: none;
}
.main_content_slider_box {
	margin: auto;
	overflow: hidden;
	width: 100%!important;
}
.dg-iconbox05 {
	min-height: 196px;
}
.searchBox .searchSkinObjectPreview > [class*="group"] {
	display: none;
}

.home_tabbox .resp_margin p {
	margin-bottom: 25px;
}
.logopane {
	display: inline-block;
}
.roll_activated .logopane .header03-social a {
	color: #666666;
}
.footer-bottom-pane {
	background: #121212;
}
.footer_logobox {
	text-align: center;
	margin-top: 30px;
}
.footer_logobox a {
	margin: 0 14.5px;
}
.footer_html {
	padding: 15px 0;
	font-size: 12px;
	width: 50%;
	margin: 0 auto;
}
.footer_box .Normal,
.footer_box .Normal a {
	color: #aaa !important;
}
.footer_box .Normal a:hover {
	color: #20a3f0 !important;
}
.dnn_option {
	position: relative;
}
.dnn_option .right_logo {
	position: absolute;
	right: 0;
	top: 0;
}
.home14-newslist {
	overflow: hidden;
}
.home14-newslist > div {
	padding: 0;
}
.home14-newslist .newsbox {
	padding: 50px 50px;
	position: relative;
	z-index: 1;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.home14-newslist .imgbg-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}
.home14-newslist .active .imgbg-cover {
	opacity: 1;
}
.home14-newslist .newsbox .dg-btn-1.btn-white {
	color: #20a3f0;
}
.home14-newslist .newsbox .dg-btn-1.btn-white:hover {
	color: #fff;
}
.home14-newslist > div.active .newsbox {
	color: #FFF;
}
.home14-newslist > div .newsbox h5 {
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.home14-newslist > div.active .newsbox h5 {
	color: #FFF;
}

@media only screen and (min-width: 1600px) {
.home14-newslist .newsbox {
	padding: 90px 110px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.home14-newslist .newsbox {
	padding: 20px 30px;
}
}

@media only screen and (max-width: 991px) {
.home14-newslist .newsbox {
	padding: 20px 30px;
}
.tp-banner-container [class*="dg-btn-"].size-xl {
	padding: 2px 11px 2px;
}
}

@media only screen and (max-width: 767px) {
.home14-newslist .imgbg-cover {
	background-position: center -57px !important;
}
.contact-locations .left,
 .contact-locations .right {
	width: auto !important;
	padding: 0 !important;
	float: none !important;
}
}

@media only screen and (max-width: 500px) {
.home14-newslist .imgbg-cover {
	background-position: center 0px !important;
}
}
.home14-newslist2 {
	position: relative;
}
.home14-newslist2 > img {
	width: 100%;
}
.home14-newslist2 h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 8px;
}
.home14-newslist2 .newsbox {
	padding: 25px 20px;
}
.home14-newslist2 .category {
	margin: 0 -20px 20px;
	padding: 0 20px 10px;
	border-bottom: 1px solid #e3e3e3;
	font-size: 13px;
}
.home14-newslist2 .category a {
}
.home14-newslist2 .category a,
.home14-newslist2 .category a:link,
.home14-newslist2 .category a:active,
.home14-newslist2 .category a:visited {
	color: #666666;
}
.home14-newslist2 .sep {
	color: #cccccc;
	padding: 0px 5px;
}
.home14-newslist2 img {
	max-width: 100%;
}
.home14-newslist2 p {
	margin-bottom: 20px;
}
.home14-newslist2 .date {
	position: absolute;
	width: 40px;
	left: 0;
	top: 0;
	text-align: center;
	background-color: #f4f4f4;
}
.home14-newslist2 .date .month {
	display: block;
	background-color: #20a3f0;
	padding: 1px;
	color: #FFF;
}
.home14-newslist2 .date .day {
	display: block;
	color: #20a3f0;
	padding: 4px 2px;
	font-size: 18px;
}
.BottomBackgroundPane {
	background: #F0F0F0;
}
.link_box {
	padding-bottom: 50px;
}
.PlayngoGames .filter_block .filters-select,
.PlayngoGames .filter_block .game-languages {
	display: none !important;
}
.contact-locations .left {
	width: 20%;
	padding: 0 15px;
}
.contact-locations .right {
	width: 20%;
	padding: 0 15px;
}



/*SkinPlugin*/
.SkinPlugin_icon{
	display: none;
	}
	.SkinPluginPro_icon {
		position:fixed;
		top:20%;
		right:0;
		z-index:9999;
		cursor:pointer;
		text-align: right;
		white-space: pre;
	}
	
	.SkinPluginPro_icon a{
		display:inline-block;
		height:34px;
		line-height: 34px;
		text-decoration:none;
		background-color: #20a3f0;
		margin-bottom: 2px;
		text-align: center;
		border-radius: 4px 0 0 4px;
		white-space: nowrap;
	}
	.SkinPluginPro_icon span{
		color: #FFF;
		max-width: 0px;
		overflow: hidden;
		display:inline-block;
		vertical-align: middle;
		text-indent: 1em;
		font-size: 13px;
		transition: all ease-in 300ms;
		-moz-transition: all ease-in 300ms;  
		-webkit-transition: all ease-in 300ms;  
		-o-transition: all ease-in 300ms; 
		-ms-transition: all ease-in 300ms; 
	}
	.SkinPluginPro_icon i{
		font-size: 16px;
		color: #FFF;
		width:34px;
		display: inline-block;
		vertical-align: middle;
	}
	.SkinPluginPro_icon a:hover span{
		max-width:160px;
	}
	
	
	.SkinPluginPro_icon .fa.fa-cloud-download:before{
		font-family: "Font Awesome 5 Free";
		content: "\f381";
	}
	
/*dnn*/
.dnnEditState .actionMenu { 
	z-index: 1!important; display: block!important; 
}
#Body[style*="margin-left: 80px"]{
	position: relative;
}
#Body[style*="margin-left: 80px"] .dng-main.Wide .floating-active.header-wrap{
	left: 80px;
	width: auto;
	right: 0;
}

.dnnEditState .overlay-panel-content{
	position: relative!important;
	display: block!important;
	z-index: 99!important;
}
.dnnEditState .overlay-panel-content .dng_animate_visible,
.cke_editable .dng_animate_visible{
	opacity: 1;
}
.dnnEditState .side-panel-box.side-panel .side-panel-main{
	min-height: 100vh

}

.dnnEditState .side-panel {
    position: relative!important;
    left: auto!important;
    right: 0!important;
    top: 0!important;
	visibility: visible!important;
	display: inline-block;
	z-index: 100!important;
}

#PageTemplate_Modal{
	background-color: #FFF;
	z-index: 10000000;
	position: fixed;
	top: 35px;
	right: 45px;
	bottom: 35px;
	left: 45px;
	width: auto;
	height: auto;
}
#PageTemplate_Modal .modal-body{
	height:calc(100% - 65px);
}

#setting-message-info{
	position: fixed;
	right: 25px;
	top:25px;
	z-index: 10001;
	display: none;
	padding: 15px;
	border-radius: 5px;
	color: #FFF;
	font-size: 14px;
	background-color: #32373c;
}
#setting-message-info .fa{
	border-width: 2px;
	border-style: solid ;
	font-size: 10px;
	width: 25px;
	height: 25px;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 2px;
	
}
#setting-message-info-full {
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000001;
    background: #000;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
	display: none;
}
#setting-message-info-full .waitaminute-message{
	position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: -30px;
}

#setting-message-info-full .cog{
    position: relative;
    display: inline-block;
    width: 60px;
    line-height: 1;
	margin-bottom: 10px;
}
#setting-message-info-full .cog .icon1{
	-webkit-animation: rotatemessage-r 5s infinite linear;
	animation: rotatemessage-r 5s infinite linear;
}
#setting-message-info-full .cog .icon2{
    position: absolute;
    font-size: 0.5em;
    top: 0;
	-webkit-animation: rotatemessage 3s infinite linear;
	animation: rotatemessage 3s infinite linear;

}
#setting-message-info-full .cog .icon3{
	position: absolute;
    font-size: 0.5em;
    bottom: 0;
	-webkit-animation: rotatemessage 3s infinite linear;
	animation: rotatemessage 3s infinite linear;
}

#Form.showControlBar{
	position: relative;
}

/* Animations */
@-webkit-keyframes rotatemessage {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @keyframes rotatemessage {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes rotatemessage-r {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }
  @keyframes rotatemessage-r {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }

.DNNEmptyPane{
	display: none!important;
}

/*pane name*/
.dnnEditState .edit-panename{
	position: absolute;
	z-index: 100;
	pointer-events: none;
	user-select: none; 
	color: #cdcdcd;
    font-size: 18px;
	font-weight: bold;
	left: 50%;
	top: 20px;
	transform: translate(-50%,0);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
}

.dnnSearchResultItem-Others span:nth-of-type(2),
.dnnSearchResultItem-Others span:nth-of-type(2)+a,
.searchSkinObjectPreview .searchSkinObjectPreview_group{
	display: none!important;
}

/**/

.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.bookmarkedModule,
.dnnModuleDialog .dnnModuleList .listContainer ul li span.actions .button.topModule{
	margin: 0;
	padding: 0;
	background: none;

}


.btn-plugin.btn-plugin-headerlayout{
	width: 40px;
    height: 40px;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
    background-color: rgba(0, 172, 214,0.8);
	color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E %3Cpath fill='rgba(255,255,255,1)' d='M461.9 114.9l-56.5 56.7-55.1-10-9.9-55.1 56.5-56.7c-12.7-12.7-30.8-18.5-44.2-17.8-13.5.7-42.3 8.3-64.6 32-21.6 22.8-44.3 65.3-24.2 112.5 2.4 5.7 5.1 13.2-2.9 21.2-8.1 8-215 202.8-215 202.8-19.4 16.7-18 47.6-.1 65.6 18.2 17.9 48.9 19 65.6-.3 0 0 193.2-205.8 202.7-215.1 8.5-8.3 16.1-5.5 21.2-2.9 35.6 18.4 86.3 2.4 112.6-23.9 26.3-26.3 31.1-51.7 31.9-64.7.8-12.9-3.7-30-18-44.3zM91.3 443.2c-6.3 6.2-16.5 6.2-22.7 0-6.2-6.3-6.2-16.5 0-22.7 6.3-6.2 16.5-6.2 22.7 0 6.2 6.3 6.2 16.5 0 22.7z'/%3E%3C/svg%3E");
	background-size: 1em 1em;
	background-position: center center;
	background-repeat: no-repeat;
	transition:all 300ms ease-in;
}
.btn-plugin.btn-plugin-headerlayout span,
.btn-plugin.btn-plugin-headerlayout i{
	display: none;
}
.btn-plugin.btn-plugin-headerlayout:hover{
    background-color: rgb(0, 172, 214);
}

